.form-container {
  overflow-y: auto;

  .form-instance {
    margin-top: 15px;
  }

  .birthday {
    position: relative;
    .dropdown-menu {
      left: auto !important;
      right: 0px;
    }
  }
}

.user-details {
  .avatar {
    display: block;
    height: 218px;
    margin: auto;
    @include border-radius(50%);
    border: solid $base-color-darker 1px;
  }
  .uploader {
    .avatar {
      display: block;
      margin: auto;

      & > * {
        margin: auto;
        height: 150px;
        border: 1px solid black;
        padding: 10px;
        @include border-radius(5px);
      }
    }
    .file-drop-zone {
      border: dotted 3px lightgray;
    }
    .nv-file-over {
      border: dotted 3px red;
    }
    .another-file-over-class {
      border: dotted 3px green;
    }
  }
}

.roles{
  .name{
    & > a {
      text-decoration: none;
    }
    cursor: pointer;
    font-weight: bold;
  }
  .clicked{
    transform:scaleY(1)!important;
  }

  .list {
    transform-origin:50% 0;
    transform:scaleY(0);
    transition-duration:250ms;
  }
}