<div class="row module-navigation-row">
    <div class="col-xs-12 module-navigation-col">
        <button type="button" ng-click="moduleTypeList.reloadAll()"
                class="btn btn-warning pull-left">Reload all services configuration
        </button>
        <span class="buttons-separator"></span>
        <button type="button" ng-click="moduleTypeList.reload()" ng-disabled="!moduleTypeList.listGridConfig.selectedEntity"
                class="btn btn-warning pull-left">Reload module configuration
        </button>
        <span class="buttons-separator"></span>
        <button type="button" ui-sref="application.moduleTypes.permissions({id:moduleTypeList.listGridConfig.selectedEntity.id})"
                ng-disabled="!moduleTypeList.listGridConfig.selectedEntity" class="btn btn-default pull-left">Permissions
        </button>
        <span class="buttons-separator"></span>
        <button type="button" ui-sref="application.moduleTypes.resources({id:moduleTypeList.listGridConfig.selectedEntity.id})"
                ng-disabled="!moduleTypeList.listGridConfig.selectedEntity" class="btn btn-default pull-left">Resources
        </button>
    </div>
</div>
<div class="row grid-row">
    <div class="col-xs-12">
        <platform-list-grid class="default-platform-list-grid" list-grid-config="moduleTypeList.listGridConfig"></platform-list-grid>
    </div>
</div>
