spring:
  application:
    name: abixen-platform-web-content-service

abixen:
  platform:
    adminSidebarItems:
      -
        name: web-content-sidebar-item
        title: Web Contents
        angularJsState: application.webContentService.webContent.list
        orderIndex: 10
        iconClass: fa fa-file-image-o
    modules:
      -
        name: web-content
        angularJsNameApplication: webContentService
        angularJsNameAdmin: TBD
        title: Web content
        description: Web content service
        relativeInitUrl: /admin/web-content-service/html/index.html
        adminSidebarItems:
          -
            name: web-content-sidebar-item
        staticResources:
          -
            relativeUrl: /admin/web-content-service/web-content.min.js
            resourcePageLocation: BODY
            resourcePage: APPLICATION
            resourceType: JAVASCRIPT
          -
            relativeUrl: /admin/web-content-service/web-content.min.css
            resourcePageLocation: HEADER
            resourcePage: APPLICATION
            resourceType: CSS