[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

pre.edit {
  margin-top: 15px;
  grid-gutter-width: 100px;
}

.dashboard-container {
  padding: 0px 0px 0px 0px;
  margin-right: -15px;
  margin-left: -15px;

  h1 a {
    text-decoration: none;
  }

  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.layout-container {
  .thumbnail {
    padding: 2px;
    text-align: center;
    font-size: 75%;
  }
}

.padding-bottom {
  padding-bottom: 5px;
}

.adf-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH();
  -ms-filter: "FlipH";
}

.modules-wrapper {
  padding: 0;
}

.column {
  padding-top: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

.edit .custom-column-container [class*="col-"] {

  .custom-column-inner {
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 23px;
    padding-right: 23px;
    min-height: 60px;
    border: 1px solid $success-color;
    background: lighten($success-color-brightest, 40%);

    .adf-move {
      cursor: move;
      cursor: -webkit-grabbing;
    }

    .placeholder {
      opacity: 0.75;
      background: #E8E8E8;
      margin-bottom: 15px;
    }

    &:first-child {
      > div {
        margin-left: -10px;
      }
    }

    &:last-child {
      > div {
        // todo not working
        margin-right: -10px;
      }
    }
  }
}

/*
 modal dialog in fullscreen
*/
.dashboard-modal.module-fullscreen .modal-dialog {
  width: 98%;
}
#module-full-screen.module{
  margin-bottom:8px;
}
.module {
  background: #FFFFFF;
  @include border-radius(5px);
  border-left: 1px solid #f2f2f2;
  border-rigth: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 16px;

  .module-header {
    background: #FFFFFF;
    border-top: 4px solid #054e81;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px;
    @include border-radius-custom(5px, 5px, 0px, 0px);

    .save-button {
      color: $font-color !important;
      background-color: $success-color !important;
      border: 1px solid $success-color-darkest !important;
      font-size: 20px !important;
      padding: 2px 12px !important;

      &:hover {
        color: $font-color !important;
        background-color: $success-color-lighter !important;
        border: 1px solid $success-color-darker !important;
      }
    }

    .cancel-button {
      color: $complementary-color !important;
      background-color: $complementary-background-color !important;
      border: 1px solid $complementary-color !important;
      font-size: 20px !important;
      padding: 2px 12px !important;

      &:hover {
        color: $complementary-color-lighter !important;
        background-color: $complementary-background-color !important;
        border: 1px solid $complementary-color-lighter !important;
      }
    }

    .panel-title {
      .panel-icon-bar {
        a {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .module-body {
    .error-container {
      padding: 20px;
      .error-message {
        background: #ffb7b5;
        border: 1px solid #FF3F00;
        @include border-radius(5px);
        padding: 20px;
      }
    }
  }

}

.add-module-content {
  .module-image {
    border: 1px solid #726f6f;
    @include border-radius(5px);
    min-height: 145px;
  }

  .module-row {
    margin-bottom: 20px;
    border-bottom: 1px solid #054e81;
  }
}

