
# JetBrains
*.iml
/**/.idea/
/**/target/

# Node
/**/node/
/**/node_modules/

# Bower
/**/bower_components/

# Logs
*.log

# Docker
/docker/dump.rdb

# Other
/**/src/main/resources/static/

# Databases
/data/db/

# Angular Template Cache
/abixen-platform-web-content-service/src/main/web/service/abixen/web-content/admin/js/template-cache.js
