
# JetBrains
*.iml
/**/.idea/
/**/target/

# Node
/**/node/
/**/node_modules/

# Bower
/**/bower_components/

# Logs
*.log

# Docker
/docker/dump.rdb

# Other
/**/src/main/resources/static/

# Databases
/data/db/

# Angular Template Cache
*.templatecache.js
