<form role="form" name="entityForm" novalidate>
    <div class="row form-row">

        <div class="col-md-6">

            <div class="form-group" show-errors>
                <label for="nameInput" class="control-label">Name</label>

                <div>
                    <input ng-model="entity.name" type="text" name="name" class="form-control" id="nameInput"
                           placeholder="Name" ng-required="true" ng-minlength="6" ng-maxlength="40">

                    <p class="help-block" ng-if="entityForm.name.$error.required && entityForm.name.$touched">
                        Required</p>

                    <p class="help-block" ng-if="entityForm.name.$error.minlength">Min length is invalid</p>

                    <p class="help-block" ng-if="entityForm.name.$error.maxlength">Max length is invalid</p>

                    <p class="help-block" ng-if="entityForm.name.$error.serverMessage">
                        {{entityForm.name.$error.serverMessage}}</p>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label for="descriptionInput" class="control-label">Description</label>

                <div>
                    <input ng-model="entity.description" type="text" name="description" class="form-control"
                           id="descriptionInput"
                           placeholder="Description" ng-maxlength="40">

                    <p class="help-block" ng-if="entityForm.description.$error.maxlength">Max length is invalid</p>

                    <p class="help-block" ng-if="entityForm.description.$error.serverMessage">
                        {{entityForm.description.$error.serverMessage}}</p>
                </div>
            </div>

            <div class="form-group">
                <div class="upload">
                    <div class="btn upload-btn" platform-upload-file platform-sheet-reader parsed-data="gridData">
                        <span class="upload-btn-text"> Upload File </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <input type="hidden" ng-model="entity.columns" name="columns">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Column name</th>
                    <th>Available</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="fileColumn in fileColumns">
                    <td>{{fileColumn.name}}</td>
                    <td><input type="checkbox" ng-model="databaseTableColumn.selected"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row form-row">
        <div class="col-xs-12">
            <div class="magic-number-chart"
                 ng-controller="FileDataSourceTableController as fileDataSourceTable">
                <div ng-if="fileDataSourceTable.renderTable">
                    <platform-list-grid class="default-platform-list-grid"
                                        list-grid-config="fileDataSourceTable.listGridConfig"
                                        load-all-records="true">
                    </platform-list-grid>
                </div>
            </div>
        </div>
    </div>




</form>
<div class="row bottom-navigation">
    <div class="col-xs-12">
        <a class="btn save-button"
           ng-click="saveForm(beforeSaveForm)"><i class="fa fa-floppy-o"></i><span>&nbsp;Save</span>
        </a>
        <a class="btn cancel-button"
           ng-click="goToViewMode()"><i class="fa fa-times"></i><span>&nbsp;Cancel</span>
        </a>
    </div>
</div>