<!-- header -->
<div class="wizard-table-configuration">
    <form role="form" name="configWizard.entityForm" novalidate>
    <div class="row wizard-table-configuration-content">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- series -->
            <div class="wizard-table-configuration-content-columns">
                <div class="list-group">
                    <a ng-repeat='column in configWizard.table.columns'
                       ng-show="column.isValid"
                       ng-click="configWizard.setColumnSelected(column.idx)"
                       ng-class="{'active': column.idx == configWizard.table.columnSelected.idx}"
                       class="list-group-item ">
                        <h5 class="list-group-item-heading">{{column.name}}</h5>
                        <span ng-click="configWizard.table.toggleColumn(column.idx)">
                           
                            <i ng-class="column.isActive ? 'active': 'nonactive'"
                               class="fa fa-check pull-right"></i><span class="hidden-xs">&nbsp;</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- series details -->
            <div class="wizard-datasource-configuration-content-details">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <select class="form-control" name="singleSelect" id="operatorColumn"
                                ng-model="configWizard.table.columnSelected.operator">
                            <option value="">Operator</option>
                            <option value="add">Add</option>
                            <option value="divide">Divide</option>
                            <option value="minus">Minus</option>
                            <option value="multiple">Multiple</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input placeholder=" value" type="text" name="input"
                               ng-model="configWizard.table.columnSelected.operatorValue"
                               ng-trim="true" class="form-control">
                    </div>


                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- preview data-->
            <div class="">
                <span class="wizard-datasource-label">{{ 'module.multivisualisation.configuration.preview.label' | translate }}</span>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'module.multivisualisation.configuration.preview.headerY.label' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="data in configWizard.table.columnPreviewData">
                        <td>{{data.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</form>
    <!-- /.row -->
</div>
