<div class="col-sm-12 add-comment-box">
    <form id="comment-input-form" name="comment.entityForm">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-6">
                <div class="form-group">
                    <input-text-area model="comment.entity.message" id="message" name="message"
                                     placeholder="Your comments" validators="" rows="1"></input-text-area>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6">
                <a ng-click="comment.saveForm()" class="btn btn-success" style="margin-right: 10px;">
                    <i class="fa fa-floppy-o"></i>
                </a>
                <a ng-click="comment.cancelForm()" class="btn btn-default">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
    </form>
</div>