<div class="col-sm-12">
    <form name="comment.entityForm">
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group">
                    <input-text-area model="comment.entity.message" id="message" name="message" placeholder="Your comments" validators="" rows="1"></input-text-area>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                <button ng-click="comment.saveForm()" class="btn btn-warning" type="button">Post</button>
                            </td>
                            <td>
                                <button ng-click="comment.cancelForm()" class="btn btn-default" type="button">Cancel</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>