<li>
    <div class="commenter-image">
        <img src="http://kingofwallpapers.com/profile-pics/profile-pics-007.jpg" />
    </div>
    <div>
        <strong> &nbsp;&nbsp;{{comment.commentItem.user.firstName}}&nbsp;{{comment.commentItem.user.lastName}}&nbsp;</strong>
        <span class="date sub-text">{{comment.commentItem.createdDate | date }}</span>
    </div>
    <ul class="comment-text">
        <p class="">{{comment.commentItem.message}}</p>
    </ul>
    <ul class="sub-text" id="reply-ref-{{comment.commentItem.id}}">
        <a ng-href ng-click="comment.openReplyForm(comment.commentItem.id)" style="cursor: pointer"><p class="">Reply</p></a>
    </ul>

    <ul ng-repeat="child in comment.commentItem.children" style="list-style: none;">
        <comment depth="10" comment-item="child"></comment>
    </ul>

</li>