<li class="without-list-style" ng-if="comment.commentItem == null">
    <ul id="root-comment-ul-{{comment.moduleId}}">
        <div style="display: inline">
            <a ng-href ng-click="comment.openAddForm()" style="cursor: pointer">Add new comment</a>
        </div>
    </ul>
</li>

<li ng-if="comment.commentItem != null">
    <div class="commenter-image">
        <img ng-src="{{comment.avatarFullPath}}"/>
    </div>

    <div>
        <strong>&nbsp;&nbsp;{{comment.commentItem.user.firstName}}&nbsp;{{comment.commentItem.user.lastName}}&nbsp;</strong>
        <span class="date sub-text" am-time-ago="comment.commentItem.createdDate" data-toggle="tooltip" uib-tooltip="{{comment.commentItem.createdDate | date}}"></span>
    </div>

    <ul class="comment-text">
        <p class="">{{comment.commentItem.message}}</p>
    </ul>

    <ul class="sub-text" id="reply-ref-{{comment.commentItem.id}}">
        <div style="display: inline">
            <a ng-href ng-click="comment.openReplyForm(comment.commentItem.id)" style="cursor: pointer">Reply</a> &nbsp;&nbsp;
        </div>
        <div ng-show="comment.canEdit" style="display: inline">
            <a ng-href ng-click="comment.openEditForm(comment.commentItem.id)" style="cursor: pointer">Edit</a> &nbsp;&nbsp;
        </div>
        <div ng-show="comment.canEdit" style="display: inline">
            <a ng-href ng-click="comment.deleteComment(comment.commentItem)" style="cursor: pointer">Delete</a> &nbsp;&nbsp;
        </div>
        <div  style="display: inline">
            <a ng-if="comment.canVote" title="Like"
               ng-click="comment.vote(comment.commentItem)" style="cursor: pointer">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;<span class="badge">{{comment.commentItem.votePos}}</span></a>

            <a ng-if="!comment.canVote && comment.canRejectVote" title="You already voted this comment, would You like to reject your vote?"
               ng-click="comment.rejectVote(comment.commentItem)" style="cursor: pointer">
                <i ng-if="comment.canRejectVote" class="fa fa-times" aria-hidden="true"></i>
                <i ng-if="!comment.canRejectVote" class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <span class="badge">{{comment.commentItem.votePos}}</span></a>
            <a ng-if="!comment.canVote && !comment.canRejectVote" title="You already voted this comment, would You like to reject your vote?">
                <i ng-if="comment.canRejectVote" class="fa fa-times" aria-hidden="true"></i>
                <i ng-if="!comment.canRejectVote" class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <span class="badge">{{comment.commentItem.votePos}}</span></a> &nbsp;&nbsp;
        </div>
        <div style="display: inline">
            <a ng-if="comment.canVote" title="Dislike"
               ng-click="comment.unvote(comment.commentItem)" style="cursor: pointer">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;<span class="badge">{{comment.commentItem.voteNeg}}</span></a>

            <a ng-if="!comment.canVote && comment.canRejectUnvote" title="You already voted this comment, would You like to reject your vote?"
               ng-click="comment.rejectVote(comment.commentItem)" style="cursor: pointer">
                <i ng-if="comment.canRejectUnvote" class="fa fa-times" aria-hidden="true"></i>
                <i ng-if="!comment.canRejectUnvote" class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                <span class="badge">{{comment.commentItem.voteNeg}}</span></a>
            <a ng-if="!comment.canVote && !comment.canRejectUnvote" title="You already voted this comment, would You like to reject your vote?">
                <i ng-if="comment.canRejectUnvote" class="fa fa-times" aria-hidden="true"></i>
                <i ng-if="!comment.canRejectUnvote" class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                <span class="badge">{{comment.commentItem.voteNeg}}</span></a>
        </div>
    </ul>

    <ul ng-repeat="child in comment.commentItem.children" class="without-list-style" on-ng-repeat-render-finish="comments-scroll:rebuild">
        <comment depth="10" comment-item="child" roots="comment.commentItem.children"></comment>
    </ul>
</li>