<div class="modal-header aside-panel-header" id="editDashboardPanelHeader">
    <h3 class="modal-title">Edit page</h3>
</div>
<div class="modal-body" id="editDashboardPanelBody">
    <div class="form-container" id="form-container"
         window-resize header="editDashboardPanelHeader" body="editDashboardPanelBody"
         footer="editDashboardPanelFooter">
        <form class="form-horizontal" role="form" name="entityForm" novalidate>
            <div class="row">
                <div class="col-md-12">

                    <input-text model="copy.title"
                                name="title"
                                label="{{'module.page.title.label' | translate}}"
                                placeholder="{{'module.page.title.placeholder' | translate}}"
                                validators="pageDetails.validators">
                    </input-text>

                    <input-text-area model="copy.description"
                                     name="description"
                                     label="{{'module.page.description.label' | translate}}"
                                     placeholder="{{'module.page.description.placeholder' | translate}}"
                                     validators="pageDetails.validators"
                                     rows="5">
                    </input-text-area>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 layout-container">
                    <div>
                        <div class="row form-group" ng-class="{ 'has-error': entityForm.layout.$invalid}"
                             ng-controller="LayoutController">
                            <div class="col-xs-4 col-sm-3 col-md-6 col-lg-3 "
                                 ng-repeat="(key, structure) in structures">
                                <label>
                                    <input style="display:none;" ng-model="model.structure" type="radio"
                                           dynamic-name="layout" class="form-control"
                                           ng-required="true"/>
                                    <a class="thumbnail"
                                       ng-class="{'active': model.structure==key}"
                                       ng-click="changeStructure(key, structure)">
                                        <img src="/api/images/{{structure.iconFileName}}/" class="img-responsive"/>
                                        {{key}}
                                    </a>
                                </label>
                            </div>
                            <div class="col-xs-8">
                                <p class="help-block" ng-if="entityForm.layout.$error.required">Layout of page is
                                    required</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer aside-panel-footer" id="editDashboardPanelFooter">
    <div class="row bottom-navigation">
        <div class="col-sx-12 bottom-navigation-content">
            <a class="btn save-button" ng-click="closeDialog()"><i
                    class="fa fa-floppy-o"></i><span>&nbsp;Save</span></a>
            <a class="btn cancel-button" ng-click="cancelDialog()"><i class="fa fa-times"></i><span>&nbsp;Cancel</span></a>
        </div>
    </div>
</div>