<div class="modal-header aside-panel-header"  id="editDashboardPanelHeader">
    <h3 class="modal-title">Edit page</h3>
</div>
<div class="modal-body" id="editDashboardPanelBody">
    <div class="form-container" id="form-container"
         window-resize header="editDashboardPanelHeader" body="editDashboardPanelBody" footer="editDashboardPanelFooter">
        <form class="form-horizontal" role="form" name="entityForm" novalidate>
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group" show-errors>
                        <label for="dashboardTitle" class="col-sm-3 control-label">Title</label>

                        <div class="col-sm-9">
                            <input ng-model="copy.title" type="text" name="title" class="form-control"
                                   id="dashboardTitle"
                                   placeholder="Title" ng-required="true" ng-minlength="6" ng-maxlength="40">

                            <p class="help-block" ng-if="entityForm.title.$error.required">Required</p>

                            <p class="help-block" ng-if="entityForm.title.$error.minlength">Min length is invalid</p>

                            <p class="help-block" ng-if="entityForm.title.$error.maxlength">Max length is invalid</p>

                        </div>
                    </div>

                    <div class="form-group" show-errors>
                        <label for="descriptionInput" class="col-sm-3 control-label">Description</label>

                        <div class="col-sm-9">
                        <textarea ng-model="copy.description" type="text" name="description" class="form-control"
                                  id="descriptionInput" placeholder="Description" rows="10" ng-maxlength="40">
                        </textarea>

                            <p class="help-block" ng-if="entityForm.description.$error.maxlength">Max length is
                                invalid</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                         <label class="col-sm-3 control-label">Icon</label>
                         <div class="col-lg-9">
                              <a href="#" ><i class="fa fa-area-chart fa-3x"></i> &nbsp;&nbsp;Change</a>
                         </div>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 layout-container">
                    <div>
                        <div class="row form-group" ng-class="{ 'has-error': entityForm.layout.$invalid}"
                             ng-controller="LayoutController">
                            <div class="col-xs-4 col-sm-3 col-md-6 col-lg-3 "
                                 ng-repeat="(key, structure) in structures">
                                <label>
                                    <input style="display:none;" ng-model="model.structure" type="radio"
                                           dynamic-name="layout" class="form-control"
                                           ng-required="true"/>
                                    <a class="thumbnail"
                                       ng-class="{'active': model.structure==key}"
                                       ng-click="changeStructure(key, structure)">
                                        <img src="/api/images/{{structure.iconFileName}}/" class="img-responsive"/>
                                        {{key}}
                                    </a>
                                </label>
                            </div>
                            <div class="col-xs-8">
                                <p class="help-block" ng-if="entityForm.layout.$error.required">Layout of page is
                                    required</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer aside-panel-footer" id="editDashboardPanelFooter">
    <div class="row bottom-navigation">
        <div class="col-sx-12 bottom-navigation-content">
            <a class="btn save-button" ng-click="closeDialog()"><i class="fa fa-floppy-o"></i><span>&nbsp;Save</span></a>
            <a class="btn cancel-button" ng-click="cancelDialog()"><i class="fa fa-times"></i><span>&nbsp;Cancel</span></a>
        </div>
    </div>
</div>