<div adf-id="{{definition.wid}}" id="module-{{definition.wid}}" adf-module-type="{{definition.type}}" class="module">
    <div id="module-content-{{definition.wid}}">
        <div class="module-header clearfix">
            <div ng-include src="definition.titleTemplateUrl"></div>
        </div>
        <div class="module-body" uib-collapse="moduleState.isCollapsed">
            <div ng-if="moduleState.permissionDenied" class="error-container">
                <div class="error-message">
                    <i class="fa fa-exclamation-triangle"></i>&nbsp;You have no permission to this module.
                </div>
            </div>
            <div ng-if="moduleState.notAvailable" class="error-container">
                <div class="error-message">
                    <i class="fa fa-exclamation-triangle"></i>&nbsp;Module is temporary unavailable.
                </div>
            </div>
            <platform-module-content ng-if="!moduleState.permissionDenied" ng-show="!moduleState.chatShowing" model="definition" content="module"/>
            <comments module-id="definition.id" ng-if="moduleState.chatShowing"></comments>
        </div>
    </div>
</div>