<h3 class="panel-title">
    <span editable-text="definition.title" e-form="moduleTitleForm" onaftersave="onModuleTitleChanged()">{{ definition.title || 'empty' }}</span>
    <span>
        <a title="Edit module's title" ng-click="moduleTitleForm.$show()" ng-hide="moduleTitleForm.$visible"
           ng-if="editMode">
            <i class="fa fa-pencil-square-o"></i>
        </a>
    </span>

    <span ng-show="moduleState.isLoading"><i class="fa fa-spinner fa-spin"></i></span>
    <span class="pull-right panel-icon-bar">
        <a title="Chat" ng-click="toggleChat()" ng-if="!editMode">
            <i class="fa fa-comments-o"></i>
        </a>
        <a title="Reload module's content" ng-click="reload()">
            <i class="fa fa-refresh"></i>
        </a>
        <a title="{{moduleIcon.title}}" ng-repeat="moduleIcon in moduleState.moduleIcons" ng-if="!moduleState.configurationMode" ng-click="sendModuleEvent(moduleIcon.event)">
            <i class="{{moduleIcon.iconClass}}"></i>
        </a>
        <a title="Change module's location" class="adf-move" ng-if="editMode && !moduleState.fullScreenMode">
            <i class="fa fa-fw fa-arrows"></i>
        </a>
        <a title="Collapse module" ng-show="!moduleState.isCollapsed"
           ng-click="moduleState.isCollapsed = !moduleState.isCollapsed">
            <i class="fa fa-minus"></i>
        </a>
        <a title="Expand module" ng-show="moduleState.isCollapsed"
           ng-click="moduleState.isCollapsed = !moduleState.isCollapsed">
            <i class="fa fa-plus"></i>
        </a>
        <a title="Configuration mode" ng-click="enableConfigureMode()" ng-if="editMode && !moduleState.configurationMode">
            <i class="fa fa-cogs"></i>
        </a>
        <a title="Exit from configuration mode" ng-click="exitConfigurationMode()" ng-if="editMode && moduleState.configurationMode">
            <i class="fa fa-sign-out"></i>
        </a>
        <a title="Toggle fullscreen" ng-click="toggleFullScreenMode()">
            <i class="fa fa-arrows-alt"></i>
        </a>
        <a title="Remove module" ng-click="remove()" ng-if="editMode">
            <i class="fa fa-trash"></i>
        </a>
    </span>
</h3>