<div class="modal-header aside-panel-header" id="addModulePanelHeader">
    <h3 class="modal-title">{{'dashboard.label.createNewModule' | translate}}</h3>
</div>
<div class="modal-body add-module-content" id="addModulePanelBody">
    <div class="form-container" id="form-container"
         window-resize header="addModulePanelHeader" body="addModulePanelBody" footer="addModulePanelFooter">
        <div class="row module-row" ng-repeat="(key, module) in modules">
            <div class="col-xs-8">
                <a href="" ng-click="addModule(key, module)">
                    {{module.title}}
                </a>
                <div>
                    {{module.description}}
                </div>
            </div>
            <div class="col-xs-4">
                <a class="btn save-button pull-right"
                   ng-click="addModule(key, module)"><i class="fa fa-plus"></i><span>&nbsp;{{'application.button.add' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer aside-panel-footer" id="addModulePanelFooter">
    <div class="row bottom-navigation">
        <div class="col-xs-12 bottom-navigation-content">
            <a class="btn cancel-button" ng-click="closeDialog()"><i
                    class="fa fa-times"></i><span>&nbsp;{{'application.button.cancel' | translate}}</span></a>
        </div>
    </div>
</div>