<div adf-id="{{definition.wid}}" id="module-{{definition.wid}}" adf-widget-type="{{definition.type}}" class="module">
    <div id="module-content-{{definition.wid}}">
        <div class="module-header clearfix">
            <div ng-include src="definition.titleTemplateUrl"></div>
        </div>
        <div class="module-body" uib-collapse="widgetState.isCollapsed">
            <div ng-if="widgetState.permissionDenied" class="error-container">
                <div class="error-message">
                    <i class="fa fa-exclamation-triangle"></i>&nbsp;You have no permission to this module.
                </div>
            </div>
            <div ng-if="widgetState.notAvailable" class="error-container">
                <div class="error-message">
                    <i class="fa fa-exclamation-triangle"></i>&nbsp;Module is temporary unavailable.
                </div>
            </div>
            <adf-widget-content ng-if="!widgetState.permissionDenied" model="definition" content="widget"/>
        </div>
    </div>
    <!--<comments module-id="definition.wid"></comments>-->
</div>