<div adf-id="{{definition.wid}}" id="module-{{definition.wid}}" adf-widget-type="{{definition.type}}" class="module">
    <div id="module-content-{{definition.wid}}">
        <div class="module-header clearfix">
            <div ng-include src="definition.titleTemplateUrl"></div>
        </div>
        <div class="module-body" uib-collapse="widgetState.isCollapsed">
            <div ng-if="widgetState.permissionDenied" class="permission-denied">
                <div class="permission-denied-message">
                    <i class="fa fa-exclamation-triangle"></i> You have no permission to this module.
                </div>
            </div>
            <adf-widget-content ng-if="!widgetState.permissionDenied" model="definition" content="widget"/>
        </div>
    </div>
</div>
