<div class="col-xs-12">
    <div class="row form-row">
        <div class="col-md-4">
            <div class="bs-example" data-example-id="simple-nav-stacked">
                <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                    <li ng-repeat="permissionCategory in roleDefinePermissions.uniquePermissionCategories"
                        ng-class="{active: permissionCategory===roleDefinePermissions.selectedPermissionCategory}"
                        ng-click="roleDefinePermissions.setSelectedPermissionCategory(permissionCategory)"
                        role="presentation">
                        <a href="">{{permissionCategory}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <form class="form-horizontal" role="form" name="entityForm" novalidate>
                <div class="form-group">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Selected</th>
                            <th>Permission Name</th>
                            <th>Permission Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rp in roleDefinePermissions.rolePermission.rolePermissions"
                            ng-show="roleDefinePermissions.selectedPermissionCategory===rp.permission.permissionAclClassCategory.title || roleDefinePermissions.selectedPermissionCategory==='ALL'">
                            <td><input type="checkbox" ng-model="rp.selected"/></td>
                            <td>{{rp.permission.title}}</td>
                            <td>{{rp.permission.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group last bottom-navigation">
                    <div class="col-sm-offset-3 col-sm-9">
                        <a type="submit" class="btn save-button" ng-disabled="entityForm.$invalid"
                           ng-click="roleDefinePermissions.saveForm()">
                            <i class="fa fa-floppy-o"></i>
                            <span> Save</span>
                        </a>
                        <a class="btn cancel-button" ui-sref="application.roles.list">
                            <i class="fa fa-times"></i>
                            <span> Cancel</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>