<div class="modal-selection-dialog">
    <div class="modal-header" style="background: #033e68; color: #FFFFFF;border: 1px solid #033e68">
        <h3 class="modal-title">{{title}}</h3>
    </div>
   <div class="modal-body" style="padding:5px 0px 0px 0px;">
      <span ng-if="selectionType == 'SINGLE'" class="animate-if">
          <div class="container-fluid pre-scrollable" >
          <div class="row"><!-- pre-scrollable-->
              <div class="col-sm-4"
                ng-style="{'border': rec.selected == 'Y' ? '1px solid gray' : '1px solid transparent'}"
                style="border:0px solid transparent;" ng-repeat="rec in data" ng-click="select(rec)">
                  <div class="col-sm-10 col-sm-3" style="padding:10px;cursor:pointer;"><i class="{{rec.text}}" aria-hidden="true"></i>&nbsp;{{rec.text}}</div>
            </div>
            </div>
          </div>

      </span>
      <span ng-if="selectionType == 'MULTIPLE'" class="animate-if">
          <div class="container-fluid pre-scrollable" >
          <div class="row"><!-- pre-scrollable-->
              <div class="col-sm-4 btn" style="border:0px solid transparent;" ng-repeat="rec in data" ng-click="addToSelection(rec)">
                  <div class="col-sm-10 col-sm-3" style="padding:10px;cursor:pointer;"><i class="{{rec.text}}" aria-hidden="true"></i>&nbsp;{{rec.text}}</div>
            </div>
            </div>
          </div>
      </span>
    </div>
    <div class="modal-footer">
        <a class="btn save-button"
           ng-click="accept()"><i class="fa fa-floppy-o"></i><span>&nbsp;Save</span></a>
        <a class="btn cancel-button" ng-click="discard()"><i
                class="fa fa-times"></i><span>&nbsp;Cancel</span></a>
    </div>
</div>