<div class="row form-row">
    <form lass="form-horizontal"c role="form" name="entityForm" novalidate>
        <div class="col-md-6">

            <div class="form-group" show-errors>
                <label for="titleInput" class="col-sm-3 control-label">Title</label>

                <div class="col-sm-9">
                    <input ng-model="entity.title" type="text" name="title" class="form-control" id="titleInput"
                           placeholder="Title" ng-required="true" ng-minlength="6" ng-maxlength="40">

                    <p class="help-block" ng-if="entityForm.title.$error.required">Required</p>

                    <p class="help-block" ng-if="entityForm.title.$error.minlength">Min length is invalid</p>

                    <p class="help-block" ng-if="entityForm.title.$error.maxlength">Max length is invalid</p>

                    <p class="help-block" ng-if="entityForm.title.$error.serverMessage">
                        {{entityForm.title.$error.serverMessage}}</p>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label for="descriptionInput" class="col-sm-3 control-label">Description</label>

                <div class="col-sm-9">
                        <textarea ng-model="entity.description" type="text" name="description" class="form-control"
                                  id="descriptionInput" placeholder="Description" rows="10" ng-maxlength="40">
                        </textarea>

                    <p class="help-block" ng-if="entityForm.description.$error.maxlength">Max length is invalid</p>

                    <p class="help-block" ng-if="entityForm.description.$error.serverMessage">
                        {{entityForm.description.$error.serverMessage}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="row form-group" ng-class="{ 'has-error': entityForm.layout.$invalid}">
                    <div class="col-xs-4 col-sm-3 col-md-6 col-lg-3" ng-repeat="layoutObject in layouts">
                        <label>
                            <input style="display:none;" ng-model="entity.layout" type="radio"
                                   dynamic-name="layout" ng-value="layoutObject" class="form-control"
                                   ng-required="true"/>
                            <a class="thumbnail" style="text-align:center; font-size:75%"
                               ng-class="{'active': entity.layout.id==layoutObject.id}"
                               ng-click="entity.layout=layoutObject">
                                <img src="/api/images/{{layoutObject.iconFileName}}/" class="img-responsive"/>
                                {{layoutObject.title}}
                            </a>
                        </label>
                    </div>

                    <div class="col-xs-12">
                        <p class="help-block" ng-if="entityForm.layout.$error.required">Layout of page is
                            required</p>

                        <p class="help-block" ng-if="entityForm.layout.$error.serverMessage">
                            {{entityForm.layout.$error.serverMessage}}</p>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
 <div class="row bottom-navigation">
        <div class="col-xs-12">
            <a class="btn save-button"><i class="fa fa-floppy-o"></i><span>Save</span>
            </a>
            <a class="btn cancel-button" ><i class="fa fa-times"></i><span>Cancel</span>
            </a>
        </div>
    </div>
<div class="row bottom-navigation">
</div>

