.platform-tabset {

  .nav-tabs {
    border-bottom: none;

    li {
      color: $base-color;
      cursor: pointer;
      border-bottom: 1px solid #ddd;

      a {
        border-top: #F6F6F6 3px solid;
        color: $base-color;
        font-size: 16px;
      }

      &.active {
        border-bottom: none;

        a {
          outline: none;
          border-top: $complementary-color 3px solid !important;
          border-bottom: none;
          background: transparent !important;
          font-weight: bold;
          color: $base-color;

          &:hover {
            border-top: $complementary-color-lighter 3px solid;
            border-bottom: none;
            color: $base-color-lighter;
          }
        }
      }

      &:hover {
        border-bottom: none;

        a {
          outline: none;
          background: transparent;
          border-top: $complementary-color-lighter 3px solid;
          border-bottom: none;
          color: $base-color-lighter;
        }
      }
    }
  }
}