<div class="row form-row">
    <form role="form" name="entityForm" novalidate>
        <div class="col-md-6">

            <div class="form-group" show-errors>
                <label for="nameInput" class="control-label">Name</label>

                <div>
                    <input ng-model="entity.name" type="text" name="name" class="form-control" id="nameInput"
                           placeholder="Name" ng-required="true" ng-minlength="6" ng-maxlength="40">

                    <p class="help-block" ng-if="entityForm.name.$error.required && entityForm.name.$touched">Required</p>

                    <p class="help-block" ng-if="entityForm.name.$error.minlength">Min length is invalid</p>

                    <p class="help-block" ng-if="entityForm.name.$error.maxlength">Max length is invalid</p>

                    <p class="help-block" ng-if="entityForm.name.$error.serverMessage">
                        {{entityForm.name.$error.serverMessage}}</p>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label for="descriptionInput" class="control-label">Description</label>

                <div>
                    <input ng-model="entity.description" type="text" name="description" class="form-control" id="descriptionInput"
                           placeholder="Description" ng-maxlength="40">

                    <p class="help-block" ng-if="entityForm.description.$error.maxlength">Max length is invalid</p>

                    <p class="help-block" ng-if="entityForm.description.$error.serverMessage">
                        {{entityForm.description.$error.serverMessage}}</p>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label for="usernameInput" class="control-label">Username</label>

                <div>
                    <input ng-model="entity.username" type="text" name="username" class="form-control" id="usernameInput"
                           placeholder="Username" ng-required="true" ng-minlength="6" ng-maxlength="40">

                    <p class="help-block" ng-if="entityForm.username.$error.required && entityForm.username.$touched">Required</p>

                    <p class="help-block" ng-if="entityForm.username.$error.minlength">Min length is invalid</p>

                    <p class="help-block" ng-if="entityForm.username.$error.maxlength">Max length is invalid</p>

                    <p class="help-block" ng-if="entityForm.username.$error.serverMessage">
                        {{entityForm.username.$error.serverMessage}}</p>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label for="passwordInput" class="control-label">Password</label>

                <div>
                    <input ng-model="entity.password" type="text" name="password" class="form-control" id="passwordInput"
                           placeholder="Password" ng-required="true" ng-minlength="6" ng-maxlength="40">

                    <p class="help-block" ng-if="entityForm.password.$error.required && entityForm.password.$touched">Required</p>

                    <p class="help-block" ng-if="entityForm.password.$error.minlength">Min length is invalid</p>

                    <p class="help-block" ng-if="entityForm.password.$error.maxlength">Max length is invalid</p>

                    <p class="help-block" ng-if="entityForm.password.$error.serverMessage">
                        {{entityForm.password.$error.serverMessage}}</p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group" show-errors>
                <label for="databaseTypeInput" class="control-label">Database Type</label>

                <div>
                    <select name="databaseType" class="form-control" id="databaseTypeInput"
                            ng-model="entity.databaseType" ng-required="true"
                            ng-options="databaseType as databaseType for databaseType in databaseTypes">
                    </select>

                    <p class="help-block" ng-if="entityForm.databaseType.$error.required && entityForm.databaseType.$touched">Required</p>

                    <p class="help-block" ng-if="entityForm.databaseType.$error.serverMessage">
                        {{entityForm.databaseType.$error.serverMessage}}</p>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label for="databaseHostInput" class="control-label">Database host name</label>

                <div>
                    <input ng-model="entity.databaseHost" type="text" name="databaseHost" class="form-control" id="databaseHostInput"
                           placeholder="Database host name" ng-required="true" ng-minlength="6" ng-maxlength="40">

                    <p class="help-block" ng-if="entityForm.databaseHost.$error.required && entityForm.databaseHost.$touched">Required</p>

                    <p class="help-block" ng-if="entityForm.databaseHost.$error.minlength">Min length is invalid</p>

                    <p class="help-block" ng-if="entityForm.databaseHost.$error.maxlength">Max length is invalid</p>

                    <p class="help-block" ng-if="entityForm.databaseHost.$error.serverMessage">
                        {{entityForm.databaseHost.$error.serverMessage}}</p>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label for="databasePortInput" class="control-label">Database port number</label>

                <div>
                    <input ng-model="entity.databasePort" type="number" name="databasePort" class="form-control" id="databasePortInput"
                           placeholder="Database port number" ng-required="true" ng-min="0" ng-max="65535">

                    <p class="help-block" ng-if="entityForm.databasePort.$error.required && entityForm.databasePort.$touched">Required</p>

                    <p class="help-block" ng-if="entityForm.databasePort.$error.min">Min is invalid</p>

                    <p class="help-block" ng-if="entityForm.databasePort.$error.max">Max is invalid</p>

                    <p class="help-block" ng-if="entityForm.databasePort.$error.serverMessage">
                        {{entityForm.databasePort.$error.serverMessage}}</p>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label for="databaseNameInput" class="control-label">Database name</label>

                <div>
                    <input ng-model="entity.databaseName" type="text" name="databaseName" class="form-control" id="databaseNameInput"
                           placeholder="Database name" ng-required="true" ng-minlength="6" ng-maxlength="40">

                    <p class="help-block" ng-if="entityForm.databaseName.$error.required && entityForm.databaseName.$touched">Required</p>

                    <p class="help-block" ng-if="entityForm.databaseName.$error.minlength">Min length is invalid</p>

                    <p class="help-block" ng-if="entityForm.databaseName.$error.maxlength">Max length is invalid</p>

                    <p class="help-block" ng-if="entityForm.databaseName.$error.serverMessage">
                        {{entityForm.databaseName.$error.serverMessage}}</p>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="row bottom-navigation">
    <div class="col-xs-12">
        <a class="btn save-button"
           ng-click="testConnection()"><i class="fa fa-check-circle-o"></i><span>&nbsp;Test Connection</span>
        </a>
        <a class="btn save-button"
           ng-click="saveForm()"><i class="fa fa-floppy-o"></i><span>&nbsp;Save</span>
        </a>
        <a class="btn cancel-button"
           ng-click="goToViewMode()"><i class="fa fa-times"></i><span>&nbsp;Cancel</span>
        </a>
    </div>
</div>