<div class="row form-row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" role="form" name="roleDetails.entityForm" novalidate>
            <input-text model="roleDetails.entity.name"
                        name="name"
                        label="{{'module.role.name.label' | translate}}"
                        placeholder="{{'module.role.name.placeholder' | translate}}"
                        validators="roleDetails.validators">
            </input-text>

            <input-drop-down ng-model="roleDetails.entity.roleType"
                             name="roleType"
                             label="{{'module.role.type.label' | translate}}"
                             validators="roleDetails.validators"
                             options="roleDetails.roles"
                             show-empty-value="true"
                             empty-value-label="{{'module.role.type.select' | translate}}"
                             key-as-value="true">
            </input-drop-down>

            <div class="row bottom-navigation ng-scope">
                <div class="col-xs-12">
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn save-button" ng-disabled="roleDetails.entityForm.$invalid"
                                    ng-click="roleDetails.saveForm()">
                                <i class="fa fa-floppy-o"></i>
                                <span>&nbsp;Save</span>
                            </button>
                            <button type="reset" class="btn cancel-button" ui-sref="application.roles.list">
                                <i class="fa fa-times"></i>
                                <span>&nbsp;Cancel</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>