.kpi-chart-view {
  text-align: center;

  .kpi-chart-description {
    margin-top: 10px;
    font-size: 20px;
  }

  .kpi-chart-wrapper {
    margin-top: 10px;
    position: relative;

    .kpi-chart-value {
      top: 50%;
      bottom: auto;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-size: 32px;
      position: absolute;
    }
  }
}

.kpi-chart-configuration {
  .configuration-form-row {
    margin-top: 10px;
  }

  .configuration-bottom-navigation-row {
    margin-top: 10px;

    > div {
      text-align: right;

      .btn {
        margin-left: 5px;
      }
    }
  }
}