<div class="row form-row">
    <form role="form" name="databaseConnectionDetails.entityForm" novalidate>
        <div class="col-md-6">

            <div class="form-group" show-errors>
                <input-text model="databaseConnectionDetails.entity.name"
                            name="name"
                            label="{{'service.businessintelligence.databaseConnection.name.label' | translate}}"
                            placeholder="{{'service.businessintelligence.databaseConnection.name.placeholder' | translate}}"
                            validators="databaseConnectionDetails.validators">
                </input-text>
            </div>

            <div class="form-group" show-errors>
                <input-text model="databaseConnectionDetails.entity.description"
                            name="description"
                            label="{{'service.businessintelligence.databaseConnection.description.label' | translate}}"
                            placeholder="{{'service.businessintelligence.databaseConnection.description.placeholder' | translate}}"
                            validators="databaseConnectionDetails.validators">
                </input-text>
            </div>

            <div class="form-group" show-errors>
                <input-text model="databaseConnectionDetails.entity.username"
                            name="username"
                            label="{{'service.businessintelligence.databaseConnection.username.label' | translate}}"
                            placeholder="{{'service.businessintelligence.databaseConnection.username.placeholder' | translate}}"
                            validators="databaseConnectionDetails.validators">
                </input-text>
            </div>

            <div class="form-group" show-errors>
                <input-text model="databaseConnectionDetails.entity.password"
                            name="password"
                            label="{{'service.businessintelligence.databaseConnection.password.label' | translate}}"
                            placeholder="{{'service.businessintelligence.databaseConnection.password.placeholder' | translate}}"
                            validators="databaseConnectionDetails.validators">
                </input-text>
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group" show-errors>
                <label for="databaseTypeInput" class="control-label">Database Type</label>

                <div>
                    <select name="databaseType" class="form-control" id="databaseTypeInput"
                            ng-model="databaseConnectionDetails.entity.databaseType" ng-required="true"
                            ng-options="databaseType as databaseType for databaseType in databaseConnectionDetails.databaseTypes">
                    </select>

                    <p class="help-block" ng-if="databaseConnectionDetails.entityForm.databaseType.$error.required && databaseConnectionDetails.entityForm.databaseType.$touched">Required</p>

                    <p class="help-block" ng-if="databaseConnectionDetails.entityForm.databaseType.$error.serverMessage">
                        {{databaseConnectionDetails.entityForm.databaseType.$error.serverMessage}}</p>
                </div>
            </div>

            <div class="form-group" show-errors>
                <input-text model="databaseConnectionDetails.entity.databaseHost"
                            name="databaseHost"
                            label="{{'service.businessintelligence.databaseConnection.databaseHost.label' | translate}}"
                            placeholder="{{'service.businessintelligence.databaseConnection.databaseHost.placeholder' | translate}}"
                            validators="databaseConnectionDetails.validators">
                </input-text>
            </div>

            <div class="form-group" show-errors>
                <input-text model="databaseConnectionDetails.entity.databasePort"
                            name="databasePort"
                            label="{{'service.businessintelligence.databaseConnection.databasePort.label' | translate}}"
                            placeholder="{{'service.businessintelligence.databaseConnection.databasePort.placeholder' | translate}}"
                            validators="databaseConnectionDetails.validators">
                </input-text>
            </div>

            <div class="form-group" show-errors>
                <input-text model="databaseConnectionDetails.entity.databaseName"
                            name="databaseName"
                            label="{{'service.businessintelligence.databaseConnection.databaseName.label' | translate}}"
                            placeholder="{{'service.businessintelligence.databaseConnection.databaseName.placeholder' | translate}}"
                            validators="databaseConnectionDetails.validators">
                </input-text>
            </div>
        </div>

    </form>
</div>
<div class="row bottom-navigation">
    <div class="col-xs-12">
        <a class="btn save-button"
           ng-click="databaseConnectionDetails.testConnection()"><i class="fa fa-check-circle-o"></i><span>&nbsp;Test Connection</span>
        </a>
        <a class="btn save-button"
           ng-click="databaseConnectionDetails.saveForm()"><i class="fa fa-floppy-o"></i><span>&nbsp;Save</span>
        </a>
        <a class="btn cancel-button"
           ng-click="databaseConnectionDetails.goToViewMode()"><i class="fa fa-times"></i><span>&nbsp;Cancel</span>
        </a>
    </div>
</div>