<form role="form" name="databaseDataSourceDetails.entityForm" novalidate>
    <div class="row form-row">

        <div class="col-md-6">

            <div class="form-group" show-errors>
                <input-text model="databaseDataSourceDetails.entity.name"
                            name="name"
                            label="{{'service.businessintelligence.databaseDataSourceDetails.name.label' | translate}}"
                            placeholder="{{'service.businessintelligence.databaseDataSourceDetails.name.placeholder' | translate}}"
                            validators="databaseDataSourceDetails.validators">
                </input-text>

                <input-text model="databaseDataSourceDetails.entity.description"
                            name="description"
                            label="{{'service.businessintelligence.databaseDataSourceDetails.description.label' | translate}}"
                            placeholder="{{'service.businessintelligence.databaseDataSourceDetails.description.placeholder' | translate}}"
                            validators="databaseDataSourceDetails.validators">
                </input-text>


                <label for="databaseConnectionInput" class="control-label">Database connection</label>

                <select name="databaseConnection" class="form-control" id="databaseConnectionInput"
                        ng-model="databaseDataSourceDetails.entity.databaseConnection" ng-required="true"
                        ng-change="databaseDataSourceDetails.getDatabaseTables(databaseDataSourceDetails.entity.databaseConnection)"
                        ng-options="databaseConnection as databaseConnection.name for databaseConnection in databaseDataSourceDetails.databaseConnections track by databaseConnection.id">
                </select>

                <p class="help-block"
                   ng-if="entityForm.databaseConnection.$error.required && entityForm.databaseConnection.$touched">
                    Required</p>

                <p class="help-block" ng-if="entityForm.databaseConnection.$error.serverMessage">
                    {{entityForm.databaseConnection.$error.serverMessage}}</p>


                <label for="databaseTableInput" class="control-label">Database table</label>

                <select name="table" class="form-control" id="databaseTableInput"
                        ng-model="databaseDataSourceDetails.entity.table" ng-required="true"
                        ng-change="databaseDataSourceDetails.getDatabaseTableColumns(databaseDataSourceDetails.entity.databaseConnection, databaseDataSourceDetails.entity.table)"
                        ng-options="databaseTable for databaseTable in databaseDataSourceDetails.databaseTables">
                </select>

                <p class="help-block"
                   ng-if="entityForm.databaseTable.$error.required && entityForm.databaseTable.$touched">
                    Required</p>

                <p class="help-block" ng-if="entityForm.databaseTable.$error.serverMessage">
                    {{entityForm.databaseTable.$error.serverMessage}}</p>
            </div>

        </div>
        <div class="col-md-6">
            <input type="hidden" ng-model="databaseDataSourceDetails.entity.columns" name="columns">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Column name</th>
                    <th>Available</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="databaseTableColumn in databaseDataSourceDetails.databaseTableColumns">
                    <td>{{databaseTableColumn.name}}</td>
                    <td><input type="checkbox" ng-model="databaseTableColumn.selected"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row form-row">
        <div class="col-xs-12">
            <input type="hidden" ng-model="databaseDataSourceDetails.entity.filter" name="filter">
            <query-builder fields="databaseDataSourceDetails.fields" group="databaseDataSourceDetails.filter.group"></query-builder>
        </div>
    </div>

    <div class="row form-row file-preview-table">
        <div class="col-xs-12">
            <div
                    ng-controller="DataBaseDataSourceTableController as dataBaseDataSourceTable">
                <div ng-if="dataBaseDataSourceTable.renderTable">
                    <platform-list-grid class="default-platform-list-grid"
                                        list-grid-config="dataBaseDataSourceTable.listGridConfig"
                                        load-all-records="true">
                    </platform-list-grid>
                </div>
            </div>
        </div>
    </div>


</form>
<div class="row bottom-navigation">
    <div class="col-xs-12">
        <button class="btn save-button" ng-disabled="databaseDataSourceDetails.entityForm.$invalid"
           ng-click="databaseDataSourceDetails.getPreviewData()"><i
                class="fa fa-table"></i><span>&nbsp;Get Sample Data</span>
        </button>
        <button class="btn save-button" ng-disabled="databaseDataSourceDetails.entityForm.$invalid"
           ng-click="databaseDataSourceDetails.beforeSaveForm()"><i
                class="fa fa-floppy-o"></i><span>&nbsp;Save</span>
        </button>
        <button class="btn cancel-button"
           ng-click="databaseDataSourceDetails.goToViewMode()"><i class="fa fa-times"></i><span>&nbsp;Cancel</span>
        </button>
    </div>
</div>