$base-color-darkest: #012d4b;
$base-color-darker: #033e68;
$base-color: #054e81;
$base-color-lighter: #07609e;
$base-color-brightest: #2176b2;

$complementary-color-darkest: #6b001d;
$complementary-color-darker: #930028;
$complementary-color: #b60031;
$complementary-color-lighter: #df003c;
$complementary-color-brightest: #eb1e55;

$success-color-darkest: #2b6800;
$success-color-darker: #3c9000;
$success-color: #4ab200;
$success-color-lighter: #5ad900;
$success-color-brightest: #71e61e;

$warning-color-darkest: #764200;
$warning-color-darker: #a35c00;
$warning-color: #c97200;
$warning-color-lighter: #f68b00;
$warning-color-brightest: #ff9e21;

$error-color-darkest: #740006;
$error-color-darker: #a00008;
$error-color: #c6000a;
$error-color-lighter: #f2000c;
$error-color-brightest: #fb212c;

$font-color: #ffffff;
$font-color-reversed: #333333;

$background-color: #F6F6F6;
$complementary-background-color: #FFFFFF;