<div class="multi-visualisation">
    <div class="tabset platform-tabset">
        <ul class="nav nav-tabs">
            <li ng-class="selectedModule == 'databaseDataSource' ? 'active':''">
                <a ui-sref="application.multiVisualisation.modules.databaseDataSource.list"
                   ng-click="selectDatabaseDataSources()">Database Data Sources</a>
            </li>
            <li ng-class="selectedModule == 'fileDataSource' ? 'active':''">
                <a ui-sref="application.multiVisualisation.modules.fileDataSource.list"
                   ng-click="selectFileDataSources()">File Data Sources</a>
            </li>
            <li ng-class="selectedModule == 'databaseConnection' ? 'active':''">
                <a ui-sref="application.multiVisualisation.modules.databaseConnection.list"
                   ng-click="selectDatabaseConnections()">Database Connections</a>
            </li>
            <li ng-class="selectedModule == 'fileData' ? 'active':''">
                <a ui-sref="application.multiVisualisation.modules.fileData.list"
                   ng-click="selectFileData()">File Data</a>
            </li>
        </ul>
    </div>
    <ui-view></ui-view>
</div>

