<div class="query-builder">
    <div class="form-inline">
        <select ng-options="o.name as o.name for o in operators" ng-model="group.operator" class="form-control input"></select>
        <a style="margin-left: 5px" class="btn btn-default platform-success-button" ng-click="addCondition()"><i class="fa fa-plus"></i><span>Add Condition</span></a>
        <a style="margin-left: 5px" class="btn btn-default platform-success-button" ng-click="addGroup()"><i class="fa fa-plus"></i><span>Add Group</span></a>
        <a style="margin-left: 5px" class="btn btn-default platform-warning-button" ng-click="removeGroup()"><i class="fa fa-trash-o"></i><span>Remove Group</span></a>
    </div>
    <div class="group-conditions">
        <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition">
            <div ng-switch="rule.hasOwnProperty('group')">
                <div ng-switch-when="true">
                    <query-builder fields="fields" group="rule.group"></query-builder>
                </div>
                <div ng-switch-default="ng-switch-default">
                    <ng-form name="conditionForm" ng-init="changeInputFild(rule)">
                        <div class="form-inline" ng-class="{'has-error': conditionForm.dataInput.$error.required && (!conditionForm.dataInput.$pristine || conditionForm.dataInput.$touched) }">
                            <select name="columnSelect" ng-options="t.name as t.name for t in fields" ng-model="rule.field" ng-change="changeInputFild(rule)"
                                    class="form-control" required></select>
                            <select style="margin-left: 5px" ng-options="c.name as c.name for c in conditions"
                                    ng-model="rule.condition" class="form-control"></select>
                            <input ng-if="rule.inputType == 'STRING'" style="margin-left: 5px" type="text" name="dataInput" ng-model="rule.data"
                                   class="form-control" required/>
                            <input-date ng-if="rule.inputType == 'DATE'" style="margin-left: 5px" name="inputDataCalender" model="rule.data" validators="validators"></input-date>
                            <input-number ng-if="rule.inputType == 'INTEGER'" style="margin-left: 5px" name="inputDataInteger" model="rule.data" validators="validators"></input-number>
                            <input-number ng-if="rule.inputType == 'DOUBLE'" style="margin-left: 5px" name="inputDataDouble" model="rule.data" validators="validators"></input-number>
                            <a style="margin-left: 5px" class="btn btn-default platform-warning-button"
                               ng-click="removeCondition($index)"><i class="fa fa-trash-o"></i><span>Remove Condition</span></a>
                            <p class="help-block"
                               ng-if="conditionForm.dataInput.$error.required && (!conditionForm.dataInput.$pristine || conditionForm.dataInput.$touched)">
                                Fields can't be empty</p>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</div>