    <div class="platform-navigation" ng-class="{'open': navigation.toggle}" ng-cloak>
    <div class="sidebar-wrapper">
        <div class="sidebar-header">
            <a ng-click="navigation.toggleSidebar()">
                Abixen Platform
                <span class="menu-icon" ng-class="navigation.toggle ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></span>
            </a>
        </div>
        <div class="sidebar-content" ng-scrollbar rebuild-on-resize rebuild-on="sidebar-scroll:rebuild">
            <ul class="sidebar">
                <li class="sidebar-list" on-ng-repeat-render-finish="sidebar-scroll:rebuild" ng-repeat="sidebarItem in navigation.sidebarItems | orderBy: 'orderIndex'">
                    <a ng-click="navigation.changeState(sidebarItem)" ng-class="{'selected': sidebarItem.id == navigation.selectedItem}">{{sidebarItem.title}}<span
                            class="menu-icon" ng-class="sidebarItem.iconClass"></span></a>
                </li>
            </ul>
        </div>
        <div class="sidebar-footer">
            <div class="col-xs-12">
                <a>Copyright &copy; Abixen Systems</a>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="page-content">
            <div class="row top-bar">
                <div class="col-xs-12">
                    <div class="language pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <img ng-src="{{navigation.selectedLocale.img}}">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="link" ng-repeat="locale in navigation.locales">
                                    <a class="col-xs-12" ng-click="navigation.switchLocale(locale)">
                                         <span class="drop">
                                            <img ng-src="{{locale.img}}">{{locale.title}}
                                         </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="login pull-right">{{navigation.platformUser.firstname}} {{navigation.platformUser.lastname}}</div>
                    <div class="user pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <div class="avatar-container navigation-avatar-container">
                                    <div class="avatar-border">
                                        <img class="avatar" ng-src="{{navigation.avatarUrl}}">
                                    </div>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">
                                    {{navigation.platformUser.firstname}} {{navigation.platformUser.lastname}}
                                </li>
                                <li class="divider"></li>
                                <li class="link" ng-if="navigation.showEditUser">
                                    <a ng-click="navigation.editUser()">
                                        My Account
                                    </a>
                                </li>
                                <li class="link" ng-if="navigation.platformUser.admin">
                                    <a ng-click="navigation.redirectAction.onClick()">
                                        {{navigation.redirectAction.title}}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a ng-click="navigation.logout()">
                                        <span class="fa fa-sign-out"></span>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <a ng-repeat="topbarItem in navigation.topbarItems | orderBy: 'id'" class="{{topbarItem.styleClass}}"
                           ng-click="topbarItem.onClick()" ng-if="topbarItem.visible" ng-disabled="topbarItem.disabled">
                            <i class="{{topbarItem.faIcon}}"></i><span
                                class="hidden-xs hidden-sm hidden-md">&nbsp;{{topbarItem.title | translate}}</span>
                        </a>
                        <div class="{{navigation.dropdownStyleClass}}" uib-dropdown ng-if="navigation.showDropdown">
                            <button type="button" class="btn btn-primary main-button" uib-dropdown-toggle>
                                <i class="fa fa-tasks"></i><span class="hidden-xs hidden-sm hidden-md">&nbsp;{{'application.button.action' | translate}}&nbsp;</span><span
                                    class="caret hidden-xs hidden-sm hidden-md"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right main-menu" uib-dropdown-menu>
                                <li class="dropdown-header"></li>
                                <li ng-repeat="dropdownItem in navigation.topbarDropdownItems | orderBy: 'id'" role="menuitem"
                                    ng-class="{'divider': dropdownItem.isSeparator == true}">
                                    <a ng-click="dropdownItem.onClick()">{{dropdownItem.title | translate}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ng-transclude></ng-transclude>
        </div>
    </div>
</div>