<div class="platform-navigation" ng-class="{'open': toggle}" ng-cloak>
    <div class="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">
                    Abixen Platform
                    <span class="menu-icon" ng-class="toggle ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></span>
                </a>
            </li>
            <li class="sidebar-list" ng-repeat="sidebarItem in sidebarItems | orderBy: 'orderIndex'" >
                <a ng-click="changeState(sidebarItem)" ng-class="{'selected': sidebarItem.id == selectedItem}">{{sidebarItem.title}}<span class="menu-icon" ng-class="sidebarItem.iconClass"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-12">
                <a>Copyright &copy; Abixen Systems</a>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="page-content">
            <div class="row top-bar">
                <div class="col-xs-12">
                    <div class="login pull-right">{{platformUser.firstname}} {{platformUser.lastname}}</div>
                    <div class="user pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <img src="common/navigation/image/avatar.svg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li class="dropdown-header">
                                    {{platformUser.firstname}} {{platformUser.lastname}}
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a ng-click="editUser()">
                                        My Account
                                    </a>
                                </li>
                                <li class="link">
                                    <a ng-click="redirectAction.onClick()">
                                        {{redirectAction.title}}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a ng-click="logout()">
                                        <span class="fa fa-sign-out"></span>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <a ng-repeat="topbarItem in topbarItems | orderBy: 'id'" class="{{topbarItem.styleClass}}"
                           ng-click="topbarItem.onClick()" ng-if="topbarItem.visible" ng-disabled="topbarItem.disabled">
                            <i class="{{topbarItem.faIcon}}"></i><span class="hidden-xs">&nbsp;{{topbarItem.title}}</span>
                        </a>
                        <div class="{{dropdownStyleClass}}" uib-dropdown ng-if="showDropdown">
                            <button type="button" class="btn btn-primary main-button" uib-dropdown-toggle>
                                <i class="fa fa-tasks"></i><span class="hidden-xs">&nbsp;Select Action&nbsp;</span><span class="caret hidden-xs"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right main-menu" uib-dropdown-menu>
                                <li class="dropdown-header"></li>
                                <li ng-repeat="dropdownItem in topbarDropdownItems | orderBy: 'id'" role="menuitem" ng-class="{'divider': dropdownItem.isSeparator == true}">
                                    <a ng-click="dropdownItem.onClick()">{{dropdownItem.title}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ng-transclude></ng-transclude>
        </div>
    </div>
</div>