<div class="row wizard-init">
    <div class="col-xs-12">
        <div class="wizard-init-wrapper">
            <div class="list-group">
                <a ng-repeat='chartType in configWizard.chartTypes'
                   ng-click="configWizard.setChartTypeSelected(chartType)"
                   ng-class="{'active': chartType.type == configWizard.chartConfiguration.chartType}"
                   class="list-group-item ">
                    <h4 class="list-group-item-heading">{{chartType.name}}</h4>

                    <p class="list-group-item-text">{{chartType.description}}</p>
                </a>
            </div>
        </div>
    </div>
</div>