<div class="row form-row">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form" name="structureDetails.entityForm" novalidate>
            <input-text model="structureDetails.entity.name"
                        name="name"
                        label="{{'structureDetails.name.label' | translate}}"
                        placeholder="{{'structureDetails.name.placeholder' | translate}}"
                        validators="structureDetails.validators">
            </input-text>

            <button type="button"
                    class="btn btn-default">
                <a ng-click="structureDetails.toggleEditor()"
                   class="ng-click-active"
                   style="text-decoration: none;">
                    Content Editor
                    <span class="menu-icon fa fa-toggle-off"
                          ng-class="!structureDetails.isVisualEditor ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"
                          style="">
                     </span>
                </a>
            </button>

            <visual-editor model="structureDetails.entity.content"
                           id="visualInput"
                           label="{{'structureDetails.content.label' | translate}}"
                           ng-if="structureDetails.isVisualEditor">
            </visual-editor>

            <input-text-editor model="structureDetails.entity.content"
                               name="content"
                               id="xmlInput"
                               form="structureDetails.entityForm"
                               label="{{'structureDetails.content.label' | translate}}"
                               placeholder="{{'structureDetails.content.placeholder' | translate}}"
                               validators="structureDetails.validators"
                               ng-if="!structureDetails.isVisualEditor">
            </input-text-editor>

            <input-drop-down name="template"
                             id="templateInput"
                             ng-model="structureDetails.entity.template"
                             ng-model-as-object="true"
                             label="{{'structureDetails.template.label' | translate}}"
                             options="structureDetails.templates"
                             show-empty-value="true"
                             value-key="id"
                             value-label="name"
                             empty-value-label="{{'structureDetails.template.select' | translate}}"
                             key-as-value="false"
                             validators="structureDetails.validators">
            </input-drop-down>

            <div class="row bottom-navigation">
                <div class="col-xs-12">
                    <button class="btn save-button"
                            ng-disabled="structureDetails.entityForm.$invalid"
                            ng-click="structureDetails.saveForm()">
                        <i class="fa fa-floppy-o"></i><span>&nbsp;Save</span>
                    </button>
                    <button class="btn cancel-button"
                            ng-click="structureDetails.cancel()"><i class="fa fa-times"></i><span>&nbsp;Cancel</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>