<div ng-controller="ChartModuleConfigurationWizardController">
    <div>
        <ul class="nav nav-wizard">
            <li ng-class="stepCurrent == '0' ? 'active': 'non-active'">Module type</li>
            <li ng-class="stepCurrent == '1' ? 'active': 'non-active'">Data source</li>
            <li ng-class="stepCurrent == '2' ? 'active': 'non-active'">Series configuration</li>
            <li ng-class="stepCurrent == '3' ? 'active': 'non-active'">Preview</li>
        </ul>
    </div>
    <div>
        <div class="chart-view-wizard-component step-content ui-layout-center ui-layout-pane ui-layout-pane-center">
            <div ng-switch="stepCurrent">
                <div ng-switch-when="0">
                    <div ng-include="'application/modules/abixen/multi-visualization/html/init.html'"></div>
                </div>
                <div ng-switch-when="1">
                    <div ng-include="'application/modules/abixen/multi-visualization/html/datasource.html'"></div>
                </div>
                <div ng-switch-when="2">
                    <div ng-include="'application/modules/abixen/multi-visualization/html/module-configuration/module-configuration.html'"></div>
                </div>
                <div ng-switch-when="3">
                    <div ng-include="'application/modules/abixen/multi-visualization/html/preview.html'"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right bottom-prev-next">
            <a class="btn nav-button pull-left" ng-disabled="stepCurrent==0"
                    ng-click="prev()">
                <i class="fa fa-chevron-circle-left">
                </i><span class="hidden-xs">&nbsp;Prev</span>
            </a>

            <a class="btn nav-button pull-right"
                    ng-disabled="!canNext()" ng-click="next()">
                <span class="hidden-xs">{{stepCurrent === stepMax? 'Save': 'Next'}}&nbsp;</span> <i class="fa fa-chevron-circle-right">
            </i>
            </a>

        </div>
    </div>
</div>
