.magic-number-module {

  .magic-number-chart {

    .magic-number-chart-description {
      font-size: 22px;
      color: $font-color;
    }

    .magic-number-chart-value {
      font-size: 28px;
    }

    .magic-number-chart-additional-value {
      font-size: 18px;

      .additional-number-description {
        margin-right: 10px;
      }
    }

    .magic-number-chart-icon {
      font-size: 54px;
    }

    .default {
      color: $font-color;
    }

    .danger {
      color: $error-color;
    }

    .warning {
      color: $warning-color;
    }

    .success {
      color: $success-color;
    }

  }

  .configuration-form-row {
    margin-top: 10px;
  }

  .configuration-bottom-navigation-row {
    margin-top: 10px;

    > div {
      text-align: right;

      .btn {
        margin-left: 5px;
      }
    }
  }
}