<div class="row form-row user-avatar-change">
    <div class="col-md-6 col-md-offset-3">
        <h2>Theme uploader</h2>
        <div ng-show="themeAdd.uploader.isHTML5">
            <div class="" ng-if="themeAdd.uploader.queue[0] != undefined"
                 platform-thumb="{ file: themeAdd.uploader.queue[0]._file, height: 150 }"></div>
        </div>
        <div class="well my-drop-zone">

        </div>

        <div>
            <input type="file" nv-file-select="" name="file" accept=".zip" uploader="themeAdd.uploader"/><br/>
            <div>
                Upload progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': themeAdd.uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bottom-navigation">
    <div class="col-sx-12 bottom-navigation-content">
        <button class="btn save-button" ng-click="themeAdd.uploader.uploadAll()"
                ng-disabled="!themeAdd.uploader.queue[0] != undefined">
            <i class="fa fa-floppy-o"></i><span>&nbsp;Upload</span>
        </button>
        <button class="btn cancel-button"
                ng-click="themeAdd.cancelAll()">
            <i class="fa fa-times"></i><span>&nbsp;Cancel</span>
        </button>
    </div>
</div>
