<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Properties>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss SSS} [%p] [c=%c{1}] %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="abixen-platform-core.log">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="com.abixen.platform.core" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="File">
            </AppenderRef>
            <AppenderRef ref="STDOUT" level="warn"/>
        </Logger>

        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="File">
            </AppenderRef>
            <AppenderRef ref="STDOUT" level="warn"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>