<div ng-controller="MagicNumberModuleConfigurationController" class="magic-number-module">
    <div class="row configuration-form-row">
        <form role="form" name="entityForm" novalidate>
            <div class="col-sm-4">

                <div class="form-group" show-errors>
                    <label for="magicNumberValueInput" class="control-label">Value</label>

                    <div>
                        <input ng-model="entity.magicNumberValue" type="number" name="magicNumberValue"
                               class="form-control" id="magicNumberValueInput"
                               placeholder="Value" ng-required="true" ng-min="-2147483648" ng-max="2147483647">

                        <p class="help-block" ng-if="entityForm.magicNumberValue.$error.required && entityForm.magicNumberValue.$touched">Required</p>

                        <p class="help-block" ng-if="entityForm.magicNumberValue.$error.serverMessage">
                            {{entityForm.magicNumberValue.$error.serverMessage}}</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="magicNumberDisplayPrecisionInput" class="control-label">Precision</label>

                    <div>
                        <input ng-model="entity.magicNumberDisplayPrecision" type="number"
                               name="magicNumberDisplayPrecision"
                               class="form-control" id="magicNumberDisplayPrecisionInput"
                               ng-required="true" ng-min="0" ng-max="10">

                        <p class="help-block" ng-if="entityForm.magicNumberDisplayPrecision.$error.required && entityForm.magicNumberDisplayPrecision.$touched">
                            Required</p>

                        <p class="help-block" ng-if="entityForm.magicNumberDisplayPrecision.$error.serverMessage">
                            {{entityForm.magicNumberDisplayPrecision.$error.serverMessage}}</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="prefixValueInput" class="control-label">Prefix</label>

                    <div>
                        <input ng-model="entity.prefixValue" type="text" name="prefixValue"
                               class="form-control" id="prefixValueInput"
                               placeholder="Prefix" u ng-minlength="0" ng-maxlength="10">

                        <p class="help-block" ng-if="entityForm.prefixValue.$error.maxlength">Max length is
                            invalid</p>

                        <p class="help-block" ng-if="entityForm.prefixValue.$error.serverMessage">
                            {{entityForm.prefixValue.$error.serverMessage}}</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="sufixValueInput" class="control-label">Sufix</label>

                    <div>
                        <input ng-model="entity.sufixValue" type="text" name="sufixValue"
                               class="form-control" id="sufixValueInput"
                               placeholder="Sufix" ng-minlength="0" ng-maxlength="10">

                        <p class="help-block" ng-if="entityForm.sufixValue.$error.maxlength">Max length is
                            invalid</p>

                        <p class="help-block" ng-if="entityForm.sufixValue.$error.serverMessage">
                            {{entityForm.sufixValue.$error.serverMessage}}</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="magicNumberDescriptionInput" class="control-label">Description</label>

                    <div>
                        <input ng-model="entity.magicNumberDescription" type="text" name="magicNumberDescription"
                               class="form-control" id="magicNumberDescriptionInput"
                               placeholder="Description" ng-required="true" ng-minlength="6" ng-maxlength="40">

                        <p class="help-block" ng-if="entityForm.magicNumberDescription.$error.required && entityForm.magicNumberDescription.$touched">
                            Required</p>

                        <p class="help-block" ng-if="entityForm.magicNumberDescription.$error.maxlength">Max length is
                            invalid</p>

                        <p class="help-block" ng-if="entityForm.magicNumberDescription.$error.minlength">Min length is
                            invalid</p>

                        <p class="help-block" ng-if="entityForm.magicNumberDescription.$error.serverMessage">
                            {{entityForm.magicNumberDescription.$error.serverMessage}}</p>
                    </div>
                </div>

            </div>


            <div class="col-sm-4">
                <div class="form-group" show-errors>
                    <label for="additionalNumberValueInput" class="control-label">Additional value</label>

                    <div>
                        <input ng-model="entity.additionalNumberValue" type="number" name="additionalNumberValue"
                               class="form-control" id="additionalNumberValueInput"
                               placeholder="Additional value" ng-min="-2147483648" ng-max="2147483647">
                        <p class="help-block" ng-if="entityForm.additionalNumberValue.$error.serverMessage">
                            {{entityForm.additionalNumberValue.$error.serverMessage}}</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="additionalValueDisplayPrecisionInput" class="control-label">Additional value
                        precision</label>
                    <div>
                        <input ng-model="entity.additionalNumberDisplayPrecision" type="number"
                               name="additionalNumberDisplayPrecision"
                               class="form-control" id="additionalValueDisplayPrecisionInput"
                               ng-min="0" ng-max="10">

                        <p class="help-block" ng-if="entityForm.additionalNumberDisplayPrecision.$error.serverMessage">
                            {{entityForm.additionalNumberDisplayPrecision.$error.serverMessage}}</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="additionalNumberPrefixValueInput" class="control-label">Additional prefix</label>

                    <div>
                        <input ng-model="entity.additionalNumberPrefixValue" type="text"
                               name="additionalNumberPrefixValue"
                               class="form-control" id="additionalNumberPrefixValueInput"
                               placeholder="Prefix" u ng-minlength="0" ng-maxlength="10">

                        <p class="help-block" ng-if="entityForm.additionalNumberPrefixValue.$error.maxlength">Max length
                            is
                            invalid</p>

                        <p class="help-block" ng-if="entityForm.additionalNumberPrefixValue.$error.serverMessage">
                            {{entityForm.additionalNumberPrefixValue.$error.serverMessage}}</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="additionalNumberSufixValueInput" class="control-label">Additional sufix</label>

                    <div>
                        <input ng-model="entity.additionalNumberSufixValue" type="text" name="sufixValue"
                               class="form-control" id="additionalNumberSufixValueInput"
                               placeholder="Sufix" ng-minlength="0" ng-maxlength="10">

                        <p class="help-block" ng-if="entityForm.additionalNumberSufixValue.$error.maxlength">Max length
                            is
                            invalid</p>

                        <p class="help-block" ng-if="entityForm.additionalNumberSufixValue.$error.serverMessage">
                            {{entityForm.additionalNumberSufixValue.$error.serverMessage}}</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="additionalNumberDescriptionInput" class="control-label">Additional description</label>

                    <div>
                        <input ng-model="entity.additionalNumberDescription" type="text"
                               name="additionalNumberDescription"
                               class="form-control" id="additionalNumberDescriptionInput"
                               placeholder="Description" ng-minlength="0" ng-maxlength="40">

                        <p class="help-block" ng-if="entityForm.additionalNumberDescription.$error.maxlength">Max length
                            is
                            invalid</p>

                        <p class="help-block" ng-if="entityForm.additionalNumberDescription.$error.minlength">Min length
                            is
                            invalid</p>

                        <p class="help-block" ng-if="entityForm.additionalNumberDescription.$error.serverMessage">
                            {{entityForm.additionalNumberDescription.$error.serverMessage}}</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
				
                <div class="form-group" show-errors>
                    <label for="colorCodeInput" class="control-label">Color Code</label>

                    <div>
                        <select name="colorCode" class="form-control" id="colorCodeInput"
                                ng-model="entity.colorCode" ng-required="true"
                                ng-options="colorCode as colorCode for colorCode in colorCodes">
                        </select>

                        <p class="help-block" ng-if="entityForm.colorCode.$error.required && entityForm.colorCode.$touched">Required</p>

                        <p class="help-block" ng-if="entityForm.colorCode.$error.serverMessage">
                            {{entityForm.colorCode.$error.serverMessage}}</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="iconClassInput" class="control-label">Icon Class</label>

                    <div>
                        <input ng-model="entity.iconClass" type="text" name="iconClass"
                               class="form-control" id="iconClassInput"
                               placeholder="Icon Class" ng-required="true" ng-maxlength="50" ng-click="iconClassModal()">

                        <p class="help-block" ng-if="entityForm.iconClass.$error.maxlength">Max length is
                            invalid</p>

                        <p class="help-block" ng-if="entityForm.iconClass.$error.required && entityForm.iconClass.$touched">
                            Required</p>

                        <p class="help-block" ng-if="entityForm.iconClass.$error.serverMessage">
                            {{entityForm.iconClass.$error.serverMessage}}</p>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="row configuration-bottom-navigation-row">
        <div class="col-xs-12 bottom-navigation-content">
            <a class="btn save-button"
               ng-click="saveForm()"><i class="fa fa-floppy-o"></i><span>&nbsp;Save</span>
            </a>
            <a class="btn cancel-button"
               ng-click="goToViewMode()"><i class="fa fa-times"></i><span>&nbsp;Cancel</span>
            </a>
        </div>
    </div>
</div>