<form role="form" name="fileDataSourceDetails.entityForm" novalidate>
    <div class="row form-row">

        <div class="col-md-12">

            <div class="form-group" show-errors>
                <input-text model="fileDataSourceDetails.entity.name"
                            name="name"
                            label="{{'service.businessintelligence.fileDataSoruce.name.label' | translate}}"
                            placeholder="{{'service.businessintelligence.fileDataSoruce.name.placeholder' | translate}}"
                            validators="fileDataSourceDetails.validators">
                </input-text>
            </div>

            <div class="form-group" show-errors>
                <input-text model="fileDataSourceDetails.entity.description"
                            name="description"
                            label="{{'service.businessintelligence.fileDataSoruce.description.label' | translate}}"
                            placeholder="{{'service.businessintelligence.fileDataSoruce.description.placeholder' | translate}}"
                            validators="fileDataSourceDetails.validators">
                </input-text>
            </div>

            <div class="form-group">
                <div class="upload">
                    <div class="btn upload-btn" platform-upload-file platform-sheet-reader parsed-data="fileDataSourceDetails.fileData">
                        <span class="upload-btn-text"> Upload File </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row form-row file-preview-table">
        <div class="col-xs-12">
            <div
                    ng-controller="FileDataSourceTableController as fileDataSourceTable">
                <div ng-if="fileDataSourceTable.renderTable">
                    <platform-list-grid class="default-platform-list-grid"
                                        list-grid-config="fileDataSourceTable.listGridConfig"
                                        load-all-records="true">
                    </platform-list-grid>
                </div>
            </div>
        </div>
    </div>


</form>
<div class="row bottom-navigation">
    <div class="col-xs-12">
        <a class="btn save-button"
           ng-click="fileDataSourceDetails.beforeSaveForm()"><i class="fa fa-floppy-o"></i><span>&nbsp;Save</span>
        </a>
        <a class="btn cancel-button"
           ng-click="goToViewMode()"><i class="fa fa-times"></i><span>&nbsp;Cancel</span>
        </a>
    </div>
</div>