@import "../../utils/scss/styles";

@mixin modal-dialog($color) {
  .modal-header {
    background: $color;
    color: #FFFFFF;
    border: 1px solid $color;
    @include border-radius-custom(4px, 4px, 0px, 0px);
  }

  .modal-body{
    background: #FFFFFF;
  }

  .modal-footer{
    background: #FFFFFF;
    @include border-radius-custom( 0px, 0px, 5px, 5px);
  }
}

