<div class="modal-header aside-panel-header" id="editUserPanelHeader">
    <h3 class="modal-title">My Account</h3>
</div>
<div class="modal-body" id="editUserPanelBody" nv-file-drop="" uploader="userAccountDetails.userDetails.uploader">
    <div class="form-container" id="form-container"
         window-resize header="editUserPanelHeader" body="editUserPanelBody" footer="editUserPanelFooter">
        <div class="row user-details">
            <uib-tabset justified="true" class="tabset platform-tabset">
                <uib-tab heading="Details" ng-click="userAccountDetails.selectUserDetails()">
                    <form class="form form-instance" role="form" name="userAccountDetails.userDetails.entityForm"
                          ng-show="!userAccountDetails.userDetails.isUploadAvatar" novalidate>
                        <div class="col-xs-6">
                            <input-text model="userAccountDetails.userDetails.entity.screenName"
                                        name="screenName"
                                        label="{{'module.user.screenName.label' | translate}}"
                                        placeholder="{{'module.user.screenName.placeholder' | translate}}"
                                        validators="userAccountDetails.userDetails.validators">
                            </input-text>
                            <input-text model="userAccountDetails.userDetails.entity.username"
                                        name="username"
                                        label="{{'module.user.username.label' | translate}}"
                                        placeholder="{{'module.user.username.placeholder' | translate}}"
                                        validators="userAccountDetails.userDetails.validators">
                            </input-text>
                            <input-text model="userAccountDetails.userDetails.entity.firstName"
                                        name="firstName"
                                        label="{{'module.user.firstName.label' | translate}}"
                                        placeholder="{{'module.user.firstName.placeholder' | translate}}"
                                        validators="userAccountDetails.userDetails.validators">
                            </input-text>
                            <input-text model="userAccountDetails.userDetails.entity.middleName"
                                        name="middleName"
                                        label="{{'module.user.middleName.label' | translate}}"
                                        placeholder="{{'module.user.middleName.placeholder' | translate}}"
                                        validators="userAccountDetails.userDetails.validators">
                            </input-text>
                            <input-text model="userAccountDetails.userDetails.entity.lastName"
                                        name="lastName"
                                        label="{{'module.user.lastName.label' | translate}}"
                                        placeholder="{{'module.user.lastName.placeholder' | translate}}"
                                        validators="userAccountDetails.userDetails.validators">
                            </input-text>
                            <input-text model="userAccountDetails.userDetails.entity.jobTitle"
                                        name="jobTitle"
                                        label="{{'module.user.jobTitle.label' | translate}}"
                                        placeholder="{{'module.user.jobTitle.placeholder' | translate}}"
                                        validators="userAccountDetails.userDetails.validators">
                            </input-text>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="avatar-container details-avatar-container">
                                    <div class="avatar-border">
                                        <img class="avatar" ng-src="{{userAccountDetails.userDetails.avatarUrl}}">
                                    </div>
                                </div>
                                <div>
                                    <a href="#" ng-click="userAccountDetails.userDetails.showUploadContent()"><i class="fa fa-pencil-square-o"></i>Change</a>
                                </div>
                                <div class="form-group user-id">
                                    <label for="userId">User ID</label>
                                    <div id="userId">
                                        <span>{{userAccountDetails.userDetails.entity.id}}</span>
                                    </div>
                                </div>
                                <input-date model="userAccountDetails.userDetails.entity.birthday"
                                            name="birthday"
                                            label="{{'module.user.birthday.label' | translate}}"
                                            validators="userAccountDetails.userDetails.validators">
                                </input-date>
                                <input-drop-down ng-model="userAccountDetails.userDetails.entity.gender"
                                                 name="gender"
                                                 label="{{'module.user.gender.label' | translate}}"
                                                 validators="userAccountDetails.userDetails.validators"
                                                 options="userAccountDetails.userDetails.genderTypes"
                                                 show-empty-value="true"
                                                 empty-value-label="{{module.user.gender.select | translate}}"
                                                 key-as-value="true">
                                </input-drop-down>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 uploader" ng-show="userAccountDetails.userDetails.isUploadAvatar">
                        <h2>Avatar uploader</h2>
                        <div ng-show="userAccountDetails.userDetails.uploader.isHTML5">
                            <div class="" ng-if="userAccountDetails.userDetails.uploader.queue[0] != undefined"
                                 platform-thumb="{ file: userAccountDetails.userDetails.uploader.queue[0]._file, height: 150 }"></div>
                        </div>
                        <div>
                            <input type="file" nv-file-select="" uploader="userAccountDetails.userDetails.uploader"/><br/>
                            <div>
                                Upload progress:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': userAccountDetails.userDetails.uploader.progress + '%' }"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Password" ng-click="userAccountDetails.selectChangePassword()">
                    <form class="form form-instance" role="form" name="userAccountDetails.changePassword.entityForm" novalidate>
                        <div class="col-xs-12">
                            <input-text model="userAccountDetails.changePassword.entity.currentPassword"
                                        name="currentPassword"
                                        label="{{'module.user.currentPassword.label' | translate}}"
                                        validators="userAccountDetails.changePassword.validators">
                            </input-text>
                            <input-text model="userAccountDetails.changePassword.entity.newPassword"
                                        name="newPassword"
                                        label="{{'module.user.newPassword.label' | translate}}"
                                        validators="userAccountDetails.changePassword.validators">
                            </input-text>
                            <input-text model="userAccountDetails.changePassword.entity.retypeNewPassword"
                                        name="retypeNewPassword"
                                        label="{{'module.user.retypeNewPassword.label' | translate}}"
                                        validators="userAccountDetails.changePassword.validators">
                            </input-text>
                        </div>
                    </form>
                </uib-tab>
                <uib-tab heading="Roles" ng-click="userAccountDetails.selectRoles()">
                    <form class="form form-instance" ng-repeat="role in userAccountDetails.userDetails.entity.roles" ng-init="show=false;">
                        <div class="roles">
                            <span class="name" ng-click="show=!show"> <a class="fa"
                                                                         ng-class="{'fa-plus':!show, 'fa-minus':show}"></a> {{role.name}} </span>
                            <ul ng-class="{clicked:show}" class="list" ng-show="show">
                                <li ng-repeat="permission in role.permissions">{{permission.description}}</li>
                            </ul>
                        </div>
                    </form>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<div class="modal-footer aside-panel-footer" id="editUserPanelFooter">
    <div class="row bottom-navigation">
        <div class="col-sx-12 bottom-navigation-content" ng-show="!userAccountDetails.userDetails.isUploadAvatar">
            <button class="btn save-button" ng-click="userAccountDetails.saveForm()"
                    ng-disabled="userAccountDetails.userDetails.entityForm.$invalid">
                <i class="fa fa-floppy-o"></i><span>&nbsp;Save</span>
            </button>
            <button ng-click="userAccountDetails.cancel()" class="btn cancel-button">
                <i class="fa fa-times"></i><span>&nbsp;Cancel</span>
            </button>
        </div>
        <div class="col-sx-12 bottom-navigation-content" ng-show="userAccountDetails.userDetails.isUploadAvatar">
            <a class="btn save-button" ng-click="userAccountDetails.userDetails.uploader.uploadAll()"
               ng-disabled="!userAccountDetails.userDetails.uploader.getNotUploadedItems().length"><i
                    class="fa fa-upload"></i><span>&nbsp;Upload</span></a>
            <a class="btn cancel-button" ng-click="userAccountDetails.userDetails.uploader.cancelAll();userAccountDetails.userDetails.hideUploadContent()"><i class="fa fa-times"></i><span>&nbsp;Back</span></a>
        </div>
    </div>
</div>