<div class="row form-row" nv-file-drop="" uploader="layoutIconChange.uploader">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger" ng-show="error">
            Error.
        </div>
        <form class="form-horizontal" role="form" ng-submit="login()" ng-show="!layoutDetails.isUploadIcon"
              name="layoutDetails.entityForm" novalidate>
            <div class="form-group">
                <div class="row form-row">
                    <div class="col-sm-9">
                        <input-text model="layoutDetails.entity.title"
                                    name="title"
                                    label="{{'module.layout.title.label' | translate}}"
                                    placeholder="{{'module.layout.title.placeholder' | translate}}"
                                    validators="layoutDetails.validators">
                        </input-text>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row form-row">
                    <div class="col-sm-9">
                        <input-text-editor model="layoutDetails.entity.content"
                                           form="layoutDetails.entityForm"
                                           id="xmlInput"
                                           name="content"
                                           label="{{'module.layout.content.label' | translate}}"
                                           placeholder="{{'module.layout.content.placeholder' | translate}}"
                                           validators="layoutDetails.validators"
                                           rows="5">
                        </input-text-editor>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="row form-row">
                    <label class="control-label">Icon</label>
                </div>
                <div class="row form-row">
                    <div class="col-sm-9">
                        <img src="/api/images/layout/{{layoutDetails.entity.iconFileName}}/" class="layout-icon">
                        <a ng-href="" ng-click="layoutDetails.showUploadLayoutIcon()" ng-show="!layoutDetails.isUploadLayoutIcon">
                            <i class="fa fa-pencil-square-o"></i>Change
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <div class="row form-row" ng-show="layoutDetails.isUploadIcon">
            <h2>Layout Icon uploader</h2>
            <div ng-show="layoutIconChange.uploader.isHTML5">
                <div class="" ng-if="layoutIconChange.uploader.queue[0] != undefined"
                     platform-thumb="{ file: layoutIconChange.uploader.queue[0]._file, height: 150 }"></div>
            </div>
            <div class="well my-drop-zone">
            </div>
            <div>
                <input type="file" nv-file-select="" uploader="layoutIconChange.uploader"/><br/>
                <div>
                    Upload progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': layoutIconChange.uploader.progress + '%' }"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row form-row">
                <div class="row bottom-navigation ng-scope">
                    <div class="col-sm-offset-3 col-sm-6" ng-show="!layoutDetails.isUploadIcon">
                        <a class="btn save-button ng-click-active"  ng-click="layoutDetails.beforeSaveForm()"
                           ng-disabled="layoutDetails.entityForm.$invalid">
                            <i class="fa fa-floppy-o"></i><span>&nbsp;Save</span></a>
                        <a class="btn cancel-button" ui-sref="application.layouts.list">
                            <i class="fa fa-times"></i><span>&nbsp;Cancel</span></a>
                    </div>
                    <div class="col-sm-offset-3 col-sm-9" ng-show="layoutDetails.isUploadIcon">
                        <a class="btn save-button" ng-click="layoutIconChange.uploader.uploadAll()"
                           ng-disabled="!layoutIconChange.uploader.getNotUploadedItems().length"><i
                                class="fa fa-upload"></i><span>&nbsp;Upload</span></a>
                        <a class="btn cancel-button" ng-click="layoutIconChange.cancelAll()"><i
                                class="fa fa-times"></i><span>&nbsp;Back</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>