<div class="row module-navigation-row">
    <div class="col-xs-12 module-navigation-col">
        <button type="button" ui-sref="application.layouts.edit.details({id:layoutList.listGridConfig.selectedEntity.id})" ng-disabled="!layoutList.listGridConfig.selectedEntity"
                class="btn btn-default pull-left">
            <i class="fa fa-pencil-square-o"></i>Edit Layout
        </button>
        <span class="buttons-separator"></span>
        <button type="button" ng-click="layoutList.deleteEntity(layoutList.listGridConfig.selectedEntity)" ng-disabled="!layoutList.listGridConfig.selectedEntity" class="btn btn-warning pull-left">
            <i class="fa fa-trash-o"></i>Delete Layout
        </button>
        <span class="buttons-separator"></span>
        <button type="button" ui-sref="application.layouts.permissions({id:layoutList.listGridConfig.selectedEntity.id})"
                ng-disabled="!layoutList.listGridConfig.selectedEntity" class="btn btn-default pull-left">
            <i class="fa fa-key"></i>Permissions
        </button>
    </div>
</div>
<div class="row grid-row">
    <div class="col-xs-12">
        <platform-search-form class="default-platform-search-form" fields="layoutList.searchFields" filter="layoutList.searchFilter" on-search="layoutList.search"></platform-search-form>
    </div>
</div>
<div class="row grid-row">
    <div class="col-xs-12">
        <platform-list-grid class="default-platform-list-grid" list-grid-config="layoutList.listGridConfig"></platform-list-grid>
    </div>
</div>