<form role="form" name="databaseDataSourceDetails.entityForm" novalidate>
    <div class="row form-row">

        <div class="col-md-6">
            <input-text model="databaseDataSourceDetails.entity.name"
                        name="name"
                        label="{{'service.businessIntelligence.databaseDataSourceDetails.name.label' | translate}}"
                        placeholder="{{'service.businessIntelligence.databaseDataSourceDetails.name.placeholder' | translate}}"
                        validators="databaseDataSourceDetails.validators">
            </input-text>

            <input-text model="databaseDataSourceDetails.entity.description"
                        name="description"
                        label="{{'service.businessIntelligence.databaseDataSourceDetails.description.label' | translate}}"
                        placeholder="{{'service.businessIntelligence.databaseDataSourceDetails.description.placeholder' | translate}}"
                        validators="databaseDataSourceDetails.validators">
            </input-text>

            <input-drop-down name="databaseConnection"
                             id="databaseConnectionInput"
                             ng-model="databaseDataSourceDetails.entity.databaseConnection"
                             ng-model-as-object="true"
                             label="{{'service.businessIntelligence.databaseDataSourceDetails.databaseConnection.label' | translate}}"
                             options="databaseDataSourceDetails.databaseConnections"
                             on-change="databaseDataSourceDetails.getDatabaseTables(databaseDataSourceDetails.entity.databaseConnection)"
                             show-empty-value="true"
                             value-key="id"
                             value-label="name"
                             empty-value-label="{{'service.businessIntelligence.databaseDataSourceDetails.databaseConnection.select' | translate}}"
                             key-as-value="false"
                             validators="databaseDataSourceDetails.validators">
            </input-drop-down>

            <input-drop-down name="databaseTable"
                             id="databaseTableInput"
                             ng-model="databaseDataSourceDetails.entity.table"
                             label="{{'service.businessIntelligence.databaseDataSourceDetails.table.label' | translate}}"
                             options="databaseDataSourceDetails.databaseTables"
                             on-change="databaseDataSourceDetails.getDatabaseTableColumns(databaseDataSourceDetails.entity.databaseConnection, databaseDataSourceDetails.entity.table)"
                             show-empty-value="true"
                             empty-value-label="{{'service.businessIntelligence.databaseDataSourceDetails.table.select' | translate}}"
                             key-as-value="true"
                             validators="databaseDataSourceDetails.validators">
            </input-drop-down>
        </div>
        <div class="col-md-6">
            <input type="hidden" ng-model="databaseDataSourceDetails.entity.columns" name="columns">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Column name</th>
                    <th>Column type</th>
                    <th>Available</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="databaseTableColumn in databaseDataSourceDetails.databaseTableColumns  | orderBy:'position'">
                    <td>{{databaseTableColumn.name}}</td>
                    <td>{{databaseTableColumn.dataValueType}}</td>
                    <td><input name='{{databaseTableColumn.name+"checkbox"}}' type="checkbox" ng-model="databaseTableColumn.selected"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row form-row">
        <div class="col-xs-12">
            <input type="hidden" ng-model="databaseDataSourceDetails.entity.filter" name="filter">
            <query-builder fields="databaseDataSourceDetails.fields" group="databaseDataSourceDetails.filter.group"></query-builder>
        </div>
    </div>

    <div class="row form-row file-preview-table">
        <div class="col-xs-12">
            <div
                    ng-controller="DataBaseDataSourceTableController as dataBaseDataSourceTable">
                <div ng-if="dataBaseDataSourceTable.renderTable">
                    <platform-list-grid class="default-platform-list-grid"
                                        list-grid-config="dataBaseDataSourceTable.listGridConfig"
                                        load-all-records="true">
                    </platform-list-grid>
                </div>
            </div>
        </div>
    </div>


</form>
<div class="row bottom-navigation">
    <div class="col-xs-12">
        <button class="btn save-button" ng-disabled="databaseDataSourceDetails.entityForm.$invalid"
           ng-click="databaseDataSourceDetails.getPreviewData()"><i
                class="fa fa-table"></i><span>&nbsp;Get Sample Data</span>
        </button>
        <button class="btn save-button" ng-disabled="databaseDataSourceDetails.entityForm.$invalid"
           ng-click="databaseDataSourceDetails.beforeSaveForm()"><i
                class="fa fa-floppy-o"></i><span>&nbsp;Save</span>
        </button>
        <button class="btn cancel-button"
           ng-click="databaseDataSourceDetails.goToViewMode()"><i class="fa fa-times"></i><span>&nbsp;Cancel</span>
        </button>
    </div>
</div>