<!-- content -->
<div class="row wizard-chart-configuration-content">
    <form role="form" name="configWizard.entityForm" novalidate>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-init="configWizard.initDataSetSeries()">
            <!--keys -->
            <div class="axis-x-filter">
                <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                    <input-drop-down name="domainSelect"
                                     class="wizard-select"
                                     id="axisXColumn"
                                     ng-model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn"
                                     ng-model-as-object="true"
                                     label="{{'module.multivisualisation.configuration.headerKey.label' | translate}}"
                                     on-change="configWizard.resetFilters()"
                                     on-change-skip-init="true"
                                     options="configWizard.chartConfiguration.dataSource.columns"
                                     show-empty-value="false"
                                     value-key="id"
                                     value-label="name"
                                     key-as-value="false"
                                     validators="configWizard.validators">
                    </input-drop-down>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                    <input-drop-down name="axisxFirstOperator"
                                     id="axisxFirstOperator"
                                     ng-model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.filterObj.conditionOne.operator"
                                     ng-model-as-object="false"
                                     options="configWizard.conditionsForFilter"
                                     show-empty-value="false"
                                     value-key="name"
                                     value-label="name"
                                     validators="configWizard.validators">
                    </input-drop-down>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 no-padding value-padding">
                    <input-text ng-if="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn.dataValueType == 'STRING' ||
                                !configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn.dataValueType"
                                placeholder="value" type="text" name="input"
                                validators="configWizard.validators"
                                model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.filterObj.conditionOne.value"> </input-text>
                    <input-date ng-if="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn.dataValueType == 'DATE'"
                                name="inputDataCalender"
                                validators="configWizard.validators"
                                model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.filterObj.conditionOne.value"></input-date>
                    <input-number ng-if="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn.dataValueType == 'INTEGER'"
                                name="inputDataInteger"
                                validators="configWizard.validators"
                                model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.filterObj.conditionOne.value"></input-number>
                    <input-number ng-if="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn.dataValueType == 'DOUBLE'"
                                  name="inputDataDouble"
                                  validators="configWizard.validators"
                                  model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.filterObj.conditionOne.value"></input-number>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                    <input-drop-down name="axisxSecondOperator"
                                     id="axisxSecondOperator"
                                     ng-model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.filterObj.conditionTwo.operator"
                                     ng-model-as-object="false"
                                     options="configWizard.conditionsForFilter"
                                     show-empty-value="false"
                                     value-key="name"
                                     value-label="name"
                                     validators="configWizard.validators">
                    </input-drop-down>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 no-padding value-padding">
                    <input-text ng-if="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn.dataValueType == 'STRING' ||
                                !configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn.dataValueType"
                                placeholder="value" type="text" name="input"
                                validators="configWizard.validators"
                                model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.filterObj.conditionTwo.value"> </input-text>
                    <input-date ng-if="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn.dataValueType == 'DATE'"
                                name="inputDataCalender"
                                validators="configWizard.validators"
                                model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.filterObj.conditionTwo.value"></input-date>
                    <input-number ng-if="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn.dataValueType == 'INTEGER'"
                                name="inputDataInteger"
                                validators="configWizard.validators"
                                model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.filterObj.conditionTwo.value"></input-number>
                    <input-number ng-if="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.dataSourceColumn.dataValueType == 'DOUBLE'"
                                name="inputDataDouble"
                                validators="configWizard.validators"
                                model="configWizard.chartConfiguration.dataSetChart.domainXSeriesColumn.filterObj.conditionTwo.value"></input-number>
                </div>
            </div>
            <button class="btn refresh-button pull-right"
                    ng-show="configWizard.chartConfiguration.dataSetChart.dataSetSeries.length > 0"
                    ng-click="configWizard.reloadPreviewData()">
                <span class="hidden-xs">{{ 'module.multivisualisation.refreshPreviewData' | translate}}&nbsp;</span>
                <i class="fa fa-refresh">
                </i>
            </button>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div ng-show="configWizard.dataSetSeriesSelected != null">
                <!--values -->

                <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                    <input-drop-down name="valueSelect"
                                     id="axisYColumn"
                                     ng-model="configWizard.dataSetSeriesSelected.valueSeriesColumn.dataSourceColumn"
                                     ng-model-as-object="true"
                                     label="{{'module.multivisualisation.configuration.valuesSelect.label' | translate}}"
                                     options="configWizard.chartConfiguration.dataSource.columns"
                                     on-change="configWizard.reloadPreviewData()"
                                     show-empty-value="false"
                                     value-key="id"
                                     value-label="name"
                                     key-as-value="false"
                                     validators="configWizard.validators">
                    </input-drop-down>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" ng-show="configWizard.dataSetSeriesSelected != null">
            <!-- preview data-->
            <div class="">
                <label class="header"><span class="">{{'module.multivisualisation.configuration.preview.label' | translate}}</span></label>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{'module.multivisualisation.configuration.preview.headerKey.label' | translate}}</th>
                        <th>{{'module.multivisualisation.configuration.preview.headerValue.label' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="data in configWizard.chart.seriesPreviewData">
                        <td>{{data.x}}</td>
                        <td>{{data.y}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>