ul.sidebar .sidebar-main a, .sidebar-footer, ul.sidebar .sidebar-list a:hover, ul.sidebar .sidebar-list a.selected,
.platform-navigation:not(.open) ul.sidebar .sidebar-title.separator {
  background: #033e68; }

.platform-navigation:not(.open) ul.sidebar {
  bottom: 0; }
  .platform-navigation:not(.open) ul.sidebar .sidebar-title {
    display: none;
    height: 0;
    text-indent: -100px; }
  .platform-navigation:not(.open) ul.sidebar .sidebar-title.separator {
    display: block;
    height: 2px;
    margin: 13px 0; }
  .platform-navigation:not(.open) ul.sidebar .sidebar-list a:hover span, .platform-navigation:not(.open) ul.sidebar .sidebar-list a.selected span {
    border-left: 3px solid #b60031;
    text-indent: 22px; }

.platform-navigation:not(.open) .sidebar-footer {
  display: none; }

.sidebar-footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all .6s ease 0s;
  text-align: center; }
  .sidebar-footer div a {
    color: #b2bfdc;
    font-size: 12px;
    line-height: 43px; }
  .sidebar-footer div a:hover {
    color: #ffffff;
    text-decoration: none; }

html {
  overflow-y: scroll; }

.add-new-button {
  color: #ffffff;
  background-color: #4ab200;
  border: 1px solid #2b6800;
  font-size: 22px;
  padding: 2px 12px; }
  .add-new-button span {
    margin-left: 7px; }
  .add-new-button:hover {
    color: #ffffff;
    background-color: #5AD900;
    border: 1px solid #3c9000; }

.user-details .avatar img {
  height: 150px;
  border: 1px solid black;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.user-details .avatar a {
  float: right;
  margin-top: 10px; }

.user-details .user-id {
  margin-top: 108px; }

body {
  background-color: #F6F6F6;
  font-family: 'Roboto', sans-serif; }

.grid-row {
  padding-top: 13px; }
  .grid-row .grid {
    width: 100%;
    height: 80vh; }
    .grid-row .grid .ui-grid-top-panel {
      background: #f0f0ee; }
    .grid-row .grid .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
      background: rgba(5, 78, 129, 0.93);
      color: #FFFFFF; }

.form-row {
  padding-top: 13px; }

.buttons-separator:after {
  content: ' ';
  display: block;
  float: left;
  background: #ADADAD;
  margin: 0 10px;
  height: 34px;
  width: 1px; }

.module-navigation-row {
  padding-left: 15px;
  padding-right: 15px; }
  .module-navigation-row .module-navigation-col {
    padding: 11px 0px;
    border-bottom: 1px solid #DDDDDE; }
    .module-navigation-row .module-navigation-col button.btn-default[disabled] {
      border: 1px solid transparent;
      background: none; }
    .module-navigation-row .module-navigation-col button.btn-warning[disabled] {
      border: 1px solid transparent;
      background: none;
      color: #333; }

.platform-navigation {
  padding-left: 70px;
  height: 100%;
  transition: all .4s ease 0s; }
  @media only screen and (min-width: 561px) {
    .platform-navigation.open {
      padding-left: 250px; } }
  @media only screen and (max-width: 560px) {
    .platform-navigation.open {
      padding-left: 70px; } }
  .platform-navigation.open .sidebar-wrapper {
    left: 150px; }
  .platform-navigation .sidebar-wrapper {
    background: #012d4b;
    margin-left: -150px;
    left: -30px;
    width: 250px;
    position: fixed;
    height: 100%;
    z-index: 999;
    transition: all .4s ease 0s; }
    .platform-navigation .sidebar-wrapper ul.sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 0;
      margin: 0;
      list-style: none;
      text-indent: 20px;
      overflow-x: hidden;
      overflow-y: auto; }
      .platform-navigation .sidebar-wrapper ul.sidebar li a {
        color: #ffffff;
        display: block;
        float: left;
        text-decoration: none;
        width: 250px; }
      .platform-navigation .sidebar-wrapper ul.sidebar .sidebar-main {
        height: 65px; }
        .platform-navigation .sidebar-wrapper ul.sidebar .sidebar-main a {
          font-size: 18px;
          line-height: 60px; }
        .platform-navigation .sidebar-wrapper ul.sidebar .sidebar-main a:hover {
          cursor: pointer; }
        .platform-navigation .sidebar-wrapper ul.sidebar .sidebar-main .menu-icon {
          float: right;
          font-size: 18px;
          padding-right: 28px;
          line-height: 60px; }
      .platform-navigation .sidebar-wrapper ul.sidebar .sidebar-title {
        color: #ffffff;
        font-size: 12px;
        height: 35px;
        line-height: 40px;
        text-transform: uppercase;
        transition: all .6s ease 0s; }
      .platform-navigation .sidebar-wrapper ul.sidebar .sidebar-list {
        height: 40px; }
        .platform-navigation .sidebar-wrapper ul.sidebar .sidebar-list a {
          text-indent: 25px;
          font-size: 15px;
          color: #b2bfdc;
          line-height: 40px; }
        .platform-navigation .sidebar-wrapper ul.sidebar .sidebar-list a:hover, .platform-navigation .sidebar-wrapper ul.sidebar .sidebar-list a.selected {
          color: #ffffff;
          border-left: 3px solid #b60031;
          text-indent: 22px;
          cursor: pointer; }
        .platform-navigation .sidebar-wrapper ul.sidebar .sidebar-list .menu-icon {
          float: right;
          padding-right: 29px;
          line-height: 40px;
          width: 70px;
          text-indent: 25px; }
  .platform-navigation .content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto; }
    .platform-navigation .content-wrapper .page-content .top-bar {
      margin-left: 0 !important;
      margin-right: 0 !important;
      border-bottom: 1px solid #DDDDDE; }
  .platform-navigation .top-bar {
    height: 60px;
    background: #fff; }
    .platform-navigation .top-bar .action-buttons {
      padding-top: 11px; }
    .platform-navigation .top-bar .login {
      font-size: 18px;
      margin-top: 18px; }
    .platform-navigation .top-bar .user {
      min-width: 130px;
      cursor: pointer; }
      .platform-navigation .top-bar .user > .item {
        width: 65px;
        height: 60px;
        float: right;
        display: inline-block;
        text-align: center;
        vertical-align: middle; }
        .platform-navigation .top-bar .user > .item a {
          color: #919191;
          display: block; }
        .platform-navigation .top-bar .user > .item i {
          font-size: 20px;
          line-height: 55px; }
        .platform-navigation .top-bar .user > .item img {
          width: 40px;
          height: 40px;
          margin-top: 10px;
          border-radius: 2px; }
        .platform-navigation .top-bar .user > .item ul.dropdown-menu {
          border-radius: 2px;
          -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05); }
          .platform-navigation .top-bar .user > .item ul.dropdown-menu .dropdown-header {
            text-align: center; }
          .platform-navigation .top-bar .user > .item ul.dropdown-menu li.link {
            text-align: left; }
            .platform-navigation .top-bar .user > .item ul.dropdown-menu li.link a {
              padding-left: 7px;
              padding-right: 7px; }
        .platform-navigation .top-bar .user > .item ul.dropdown-menu:before {
          position: absolute;
          top: -7px;
          right: 23px;
          display: inline-block;
          border-right: 7px solid transparent;
          border-bottom: 7px solid rgba(0, 0, 0, 0.2);
          border-left: 7px solid transparent;
          content: ''; }
        .platform-navigation .top-bar .user > .item ul.dropdown-menu:after {
          position: absolute;
          top: -6px;
          right: 24px;
          display: inline-block;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #ffffff;
          border-left: 6px solid transparent;
          content: ''; }

.add-new-object-button {
  color: #ffffff !important;
  background-color: #4ab200 !important;
  border: 1px solid #2b6800 !important;
  font-size: 22px !important;
  padding: 2px 12px !important; }
  .add-new-object-button span {
    margin-left: 7px !important; }
  .add-new-object-button:hover {
    color: #ffffff !important;
    background-color: #5ad900 !important;
    border: 1px solid #3c9000 !important; }

.save-button {
  color: #ffffff !important;
  background-color: #4ab200 !important;
  border: 1px solid #2b6800 !important;
  font-size: 22px !important;
  padding: 2px 12px !important; }
  .save-button span {
    margin-left: 7px !important; }
  .save-button:hover {
    color: #ffffff !important;
    background-color: #5ad900 !important;
    border: 1px solid #3c9000 !important; }

.platform-success-button {
  background-color: #4ab200;
  border: 1px solid #2b6800;
  color: #ffffff; }
  .platform-success-button span {
    margin-left: 7px; }
  .platform-success-button:hover {
    background-color: #5ad900;
    border: 1px solid #3c9000;
    color: #ffffff; }

.platform-warning-button {
  background-color: #c97200;
  border: 1px solid #764200;
  color: #ffffff; }
  .platform-warning-button span {
    margin-left: 7px; }
  .platform-warning-button:hover {
    background-color: #f68b00;
    border: 1px solid #a35c00;
    color: #ffffff; }

.cancel-button {
  color: #b60031 !important;
  background-color: #FFFFFF !important;
  border: 1px solid #b60031 !important;
  font-size: 22px !important;
  padding: 2px 12px !important; }
  .cancel-button span {
    margin-left: 7px !important; }
  .cancel-button:hover {
    color: #df003c !important;
    background-color: #FFFFFF !important;
    border: 1px solid #df003c !important; }

.bottom-navigation {
  margin-top: 10px; }
  .bottom-navigation > div {
    text-align: right; }
    .bottom-navigation > div .btn {
      margin-left: 5px; }
